/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

/* Webflow global styles are imported in the 'webflow' layer */
@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --black-blue: #04033a;
  --grey-text: #f2f2f2;
  --bright-green: var(--teal);
  --grey-blue: #5a5a7d;
  --grey-background: #2d3a48;
  --medium-blue: var(--blue-2, #0280fb);
  --forest-green: #308267;

  --background: var(--black-blue);
  --dark-background: #020223;
  --foreground: var(--grey-text);
}

@theme {
  --color-black-blue: #04033a;
  --color-grey-text: #f2f2f2;
  --color-bright-green: var(--teal);
  --color-grey-blue: #5a5a7d;
  --color-grey-background: #2d3a48;
  --color-forest-green: #308267;
  --color-dark-background: #020223;
  --color-panel-background-grey: color-mix(
    in srgb,
    var(--color-grey-background) 80%,
    transparent
  );
  --color-panel-background-blue: color-mix(in srgb, #0b3766 80%, transparent);
  --color-panel-background-green: color-mix(
    in srgb,
    var(--color-forest-green) 50%,
    transparent
  );
  --color-medium-blue: var(--blue-2, #0280fb);
  --font-museo-moderno: var(--font-museo-moderno);
  --font-montserrat: var(--font-montserrat);

  --default-transition-duration: 300ms;
}

body {
  color: var(--foreground);
  font-family: var(--font-montserrat), Helvetica, sans-serif;
}

b,
strong {
  font-weight: 700;
}

.font-montserrat b {
  font-family: var(--font-montserrat) !important;
}

p {
  color: var(--foreground);
  margin: 0;
}
p.text-bright-green {
  color: var(--bright-green);
}

ul {
  list-style: disc;
  margin-left: 10px;
  margin-bottom: 0;
}
li {
  color: var(--foreground);
}
button {
  padding: 17.5px 20px;
  font-weight: 600;
  border-radius: 20px;

  @apply text-[12px] md:text-[18px] uppercase leading-[108%];
}

.chart-text {
  font-weight: 400;
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  font-size: 14px;
  line-height: 108%;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.chart-text-bold {
  font-weight: 700;
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  font-size: 14px;
  line-height: 108%;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.chart-text-base {
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.copy-text {
  font-weight: 400;
}

.panel-content p:not([class*="text-"]),
.panel-content li {
  @apply text-[14px] md:text-[18px] text-black-blue md:text-grey-text;
}

.verticals .selected text,
.verticals .verticalGroup:hover text {
  fill: white;
  font-weight: 700;
}
.verticals .selected rect,
.verticals .verticalGroup:hover rect {
  fill: white;
}
.verticals .selected path,
.verticals .verticalGroup:hover path {
  fill: #308267;
}
.verticals rect,
.verticals text,
.verticals path {
  transition: fill 0.3s, color 0.3s;
}

.verticals .quadrantHovered:not(.selected) text,
.verticals .quadrantHovered:not(.selected) rect {
  @apply fill-black-blue;
}
.verticals .quadrantHovered:not(.selected) path {
  fill: #9494aa;
}

.panel-content .panel-heading {
  @apply text-black-blue md:text-grey-text font-museo-moderno mb-4 md:mb-8 text-[18px] md:text-[40px];
}

.panel-content.panel-content-explanation .panel-text,
.panel-content.panel-content-explanation .panel-text span {
  @apply text-black-blue md:text-grey-text text-[14px] md:text-[18px];
}

.panel-content .highlighted-axis .text-bright-green {
  color: var(--bright-green);
}
.panel-content .highlighted-axis .text-bright-green {
  color: var(--bright-green);
}
.panel-content .non-highlighted-axis .text-bright-green {
  color: var(--grey-text);
}

/* journey section - journey path, dynamic svg */
.journey-path {
  .active,
  .inactive {
    transition: opacity 400ms ease-in-out;
  }
  .step_1.active,
  .step_2.active,
  .step_3.active,
  .step_4.active {
    opacity: 0;
  }

  &.current-step-1 {
    .step_1.active {
      opacity: 1;
    }
    .step_1.inactive {
      opacity: 0;
    }
    .step_2.active,
    .step_3.active,
    .step_4.active {
      opacity: 0;
    }
  }
  &.current-step-2 {
    .step_2.active {
      opacity: 1;
    }
    .step_2.inactive {
      opacity: 0;
    }
    .step_1.active,
    .step_3.active,
    .step_4.active {
      opacity: 0;
    }
  }
  &.current-step-3 {
    .step_3.active {
      opacity: 1;
    }
    .step_3.inactive {
      opacity: 0;
    }
    .step_1.active,
    .step_2.active,
    .step_4.active {
      opacity: 0;
    }
  }
  &.current-step-4 {
    .step_4.active {
      opacity: 1;
    }
    .step_4.inactive {
      opacity: 0;
    }
    .step_1.active,
    .step_2.active,
    .step_3.active {
      opacity: 0;
    }
  }
}

.method-tooltip {
  @apply absolute text-black-blue bg-grey-text text-[18px] p-4 rounded-[20px] pointer-events-none normal-case text-left leading-[100%] z-1;
}

.card .bg-grey-text li {
  color: var(--black-blue);
}
