/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

/* Webflow global styles are imported in the 'webflow' layer */
@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --black-blue: #04033a;
  --grey-text: #f2f2f2;
  --bright-green: var(--teal);
  --grey-blue: #5a5a7d;
  --grey-background: #2d3a48;

  --background: var(--black-blue);
  --foreground: var(--grey-text);
}

@theme {
  --color-black-blue: #04033a;
  --color-grey-text: #f2f2f2;
  --color-bright-green: var(--teal);
  --color-grey-blue: #5a5a7d;
  --color-grey-background: #2d3a48;
  --color-panel-background-grey: color-mix(
    in srgb,
    var(--color-grey-background) 80%,
    transparent
  );
  --color-panel-background-blue: color-mix(in srgb, #0b3766 80%, transparent);
  --font-museo-moderno: var(--font-museo-moderno);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}
p {
  color: var(--foreground);
  margin: 0;
}
p.text-bright-green {
  color: var(--bright-green);
}

ul {
  list-style: disc;
  margin-left: 10px;
  margin-bottom: 0;
}
li {
  color: var(--foreground);
}

.hook-p {
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}

.chart-text {
  font-weight: 400;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 108%;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.chart-text-bold {
  font-weight: 700;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 108%;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.chart-text-base {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: var(--grey-blue);
  fill: var(--grey-blue);
}

.panel-content p,
.panel-content li {
  font-size: 18px;
}
