/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

/* Webflow global styles are imported in the 'webflow' layer */
@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --black-blue: #04033a;
  --grey-text: #f2f2f2;
  --bright-green: var(--teal);
  --grey-blue: #5a5a7d;

  --background: var(--black-blue);
  --foreground: var(--grey-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}
p {
  color: var(--foreground);
}

.hook-p {
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}
