.gray-gradient-light {
  background-image: linear-gradient(180deg, hsla(0, 0.00%, 100.00%, 0.00) 50%, var(--gray-20));
}

.width-100 {
  width: 100%;
}

.gray-gradient-light.width-100.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, hsla(0, 0.00%, 100.00%, 0.00) 50%, #d9d9d9);
}

.gray-gradient-light.width-100.align-center-vertical {
  display: flex;
}

.align-center-vertical {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .align-center-vertical {
    display: flex;
  }
}

.content {
  display: flex;
  width: auto;
  max-width: 1150px;
  margin-top: 0px;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .content {
    display: flex;
    margin-right: 0px;
    padding-top: 60px;
    padding-right: 16px;
    padding-bottom: 60px;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .content {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.content.bg-blue-medium {
  display: none;
}

@media screen and (max-width: 991px) {
  .content.bg-blue-medium {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .content.bg-blue-medium {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

@media screen and (max-width: 767px) {
  .content.bg-blue-medium.is-centered {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .content.bg-blue-medium.is-centered {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.is-centered {
  display: none;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .is-centered {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content.align-center {
  align-items: center;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .content.align-center {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .content.align-center {
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content.align-center.padding-bottom-0 {
  padding-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .content.align-center.padding-bottom-0 {
    height: auto;
  }
}

.content.align-center.padding-bottom-0.padding-top-0 {
  padding-top: 0px;
}

.content.align-center.padding-top-0 {
  padding-top: 0px;
}

.py-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .content.align-center.mobile-slider {
    width: 480px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .content.align-center.mobile-slider {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.max-width-1150 {
  max-width: 1150px;
}

@media screen and (max-width: 991px) {
  .max-width-1150 {
    max-width: 800px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .max-width-1150 {
    width: 100%;
    max-width: 500px;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .max-width-1150 {
    width: 100%;
    max-width: 320px;
  }
}

.content.align-center.width-900 {
  max-width: 900px;
}

@media screen and (min-width: 1920px) {
  .content.align-center.max-width-1150 {
    max-width: 1150px;
  }
}

@media screen and (max-width: 991px) {
  .content.align-left {
    flex-direction: column;
    align-items: flex-start;
  }
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .align-left {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .content.align-left.align-vertical {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .content.align-left.align-vertical {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .align-vertical {
    width: auto;
  }
}

.content.align-vertical {
  max-width: 1150px;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .content.align-vertical {
    flex-direction: column;
    align-items: center;
  }
}

.content.align-vertical.align-center {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-center {
    align-items: center;
  }
}

.my-60 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-left {
    align-items: flex-start;
  }
}

.content.align-vertical.align-left.no-padding {
  padding-bottom: 0px;
}

.no-padding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.content.align-vertical.align-left.hidden {
  display: none;
}

.hidden {
  display: none;
}

.content.align-vertical.align-left.hidden.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.content.align-vertical.align-left.no-padding-desktop {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-left.no-padding-desktop {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.content.align-vertical.align-left.hide-element {
  display: none;
}

.space-top-80px {
  margin-top: 80px;
}

.content.align-vertical.hidden {
  display: none;
}

.content.align-vertical.no-padding-desktop {
  padding-right: 0px;
  padding-left: 0px;
}

.space-top-48px {
  margin-top: 48px;
}

.content.hidde-now {
  display: none;
}

.content.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .content.hidden {
    display: none;
  }
}

.content.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-0 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  align-self: auto;
  order: 0;
  flex: 0 auto;
}

.content.px-0.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

@media screen and (max-width: 479px) {
  .content.px-0.mx-16.align-center.mobile-padding-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .content.align-vertical-mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.align-vertical-mobile-only {
  display: flex;
}

@media screen and (max-width: 479px) {
  .align-vertical-mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.content.py-0.space-botom-80px {
  margin-bottom: 80px;
}

.content.space-top-0 {
  padding-top: 0px;
}

.space-top-0 {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .content.space-top-0.mobile-layout {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.space-top-0.mobile-layout.px-0 {
  padding-bottom: 0px;
}

.background-white {
  background-color: var(--white);
}

@media screen and (max-width: 991px) {
  .content.background-white.is-centered.flex-fill-container {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .content.background-white.is-centered.flex-fill-container.hide-element {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .content.background-white.is-centered.flex-fill-container.hide-element {
    display: none;
  }
}

.width-70 {
  width: 70%;
}

@media screen and (max-width: 991px) {
  .width-70 {
    display: block;
    width: 100%;
    align-items: flex-start;
  }
}

.content.width-70.align-center.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {
  .content.timeline-section {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .content.align-vertical-tablet---below {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .align-vertical-tablet---below {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.pb-0 {
  padding-bottom: 0px;
}

.flex-block-8-2 {
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .div-block-153 {
    max-width: 380px;
  }
}

@media screen and (max-width: 767px) {
  .when-hidden-item-2 {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .when-hidden-item-2.space-bottom-24-mobile {
    margin-bottom: 24px;
  }
}

.card-link-block-2025 {
  overflow: hidden;
  width: 100%;

  border: 0.5px none var(--blue-dark);
  border-radius: 12px;

  background-color: var(--white);

  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.1), -5px 0 30px 0 rgba(0, 0, 0, 0.25);

  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .card-link-block-2025 {
    width: 100%;
  }
}

.card-link-block-2025:hover {
  background-color: #f2f8ff;
  transform: scale(1.02);
}

@media screen and (max-width: 767px) {
  .card-link-block-2025 {
    width: 330px;
  }
}

@media screen and (max-width: 479px) {
  .card-link-block-2025 {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .card-link-block-2025.auto-width-mobile {
    width: auto;
  }
}

.colored-spacer-dark-blue-curved {
  width: 100%;
  height: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .colored-spacer-dark-blue-curved {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .colored-spacer-dark-blue-curved {
    width: 100%;
  }
}

.card-content-2025 {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 10px;
}

@media screen and (max-width: 991px) {
  .card-content-2025 {
    display: flex;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 0px;
    flex-direction: column;
  }
}

.card-text {
  margin-bottom: 1rem;
  color: var(--blue-dark);
  font-size: var(--paragraph-small);
  letter-spacing: 1px;
}

.card-text.text-style-6lines {
  display: none;
}

.card-text.semi-bold {
  font-weight: 600;
}

.card-text.semi-bold:hover {
  font-weight: 600;
}

.semi-bold {
  color: var(--blue-dark);
  font-weight: 400;
}

.semi-bold:hover {
  font-weight: 500;
}

.card-text.semi-bold.space-bottom-0px {
  margin-bottom: 0rem;
}

.card-text.semi-bold-2 {
  font-weight: 600;
}

.card-text.semi-bold-2.space-bottom-0px-2 {
  margin-bottom: 0px;
}

.is-bold {
  font-weight: 700;
}

.is-bold.is-dark-blue {
  margin-top: 0px;
  color: var(--blue-dark);
  text-decoration: none;
}

.is-bold.is-dark-blue:lang(fr) {
  text-align: left;
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

.is-bold.is-dark-blue.space-top-4px {
  margin-top: 4px;
}

.is-bold.is-dark-blue.space-top-4px.fixed-height-title {
  height: auto;
  max-height: 88px;
}

.h5-size {
  margin-bottom: 10px;
  font-size: var(--h5);
  font-weight: 700;
  letter-spacing: 0px;
}

.is-bold.is-dark-blue.space-top-4px.text-style-4lines.fixed-height {
  height: 85px;
}

@media screen and (max-width: 767px) {
  .is-bold.is-dark-blue.space-top-4px.text-style-4lines.h5-size {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 991px) {
  .is-bold.is-dark-blue.space-top-4px.text-style-4lines.h5-size.mobile-h5-size {
    overflow: visible;
  }
}

@media screen and (max-width: 767px) {
  .is-bold.is-dark-blue.space-top-4px.text-style-4lines.h5-size.mobile-h5-size {
    font-size: var(--h5);
  }
}

.heading-h4-size {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--h4);
  font-weight: 600;
  letter-spacing: 0px;
}

@media screen and (min-width: 1920px) {
  .heading-h4-size {
    font-family: var(--montserrat-uploaded);
    font-size: var(--h4);
  }
}

@media screen and (max-width: 767px) {
  .heading-h4-size {
    line-height: 1.35;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.is-bold.is-dark-blue.center-align {
  display: flex;
  justify-content: center;
  text-align: left;
}

.is-bold.is-dark-blue.heading-h4-size {
  font-size: var(--h4);
  letter-spacing: 1px;
}

.align-center-text {
  text-align: center;
}

.is-bold.is-dark-blue.heading-h3-size {
  font-size: var(--h3);
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.is-bold.space-top-16px {
  margin-top: 16px;
  text-align: left;
}

.space-top-16px {
  margin-top: 16px;
}

.is-bold.space-top-16px.is-dark-blue:lang(de) {
  text-align: left;
}

.is-bold.space-top-16px.is-dark-blue:lang(ja) {
  text-align: left;
}

.is-bold.space-top-16px.is-dark-blue.heading-h4-size-2-2 {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

.space-left-16px {
  margin-left: 16px;
  padding-left: 0px;
  color: var(--blue-dark);
}

.is-bold.space-top-16px.space-left-16px.space-bottom-16px {
  margin-bottom: 16px;
}

.space-bottom-16px {
  margin-bottom: 16px;
}

.space-right-16px {
  margin-right: 16px;
}

.is-bold.space-top-16px.align-center-text {
  text-align: center;
}

.is-blue {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--blue-medium);
}

.is-bold.space-bottom-24px {
  line-height: 1.1;
}

.is-bold.space-bottom-24px:lang(zh) {
  margin-bottom: 24px;
}

.is-bold.space-top-4px {
  margin-top: 4px;
}

.is-uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .is-uppercase {
    letter-spacing: 1px;
  }
}

.space-top-24px {
  margin: 24px 16px 16px;
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

.is-bold.space-right-16px.is-white.h5-size {
  font-family: var(--montserrat-uploaded-2);
}

@media screen and (max-width: 767px) {
  .is-bold.space-right-16px.is-white.h5-size {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 479px) {
  .is-bold.space-right-16px.is-white.h5-size {
    width: 30px;
    color: var(--white);
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .is-bold.space-right-16px.is-white.mobile-space-bottom-16 {
    margin-bottom: 16px;
  }
}

.is-bold.space-right-16px.h5-size {
  margin-top: 10px;
  font-family: var(--montserrat-uploaded);
}

@media screen and (max-width: 479px) {
  .is-bold.space-right-16px.h5-size {
    color: var(--blue-dark);
  }
}

.is-bold.space-right-16px.heading-h4 {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-dark);
  font-size: var(--h4);
}

@media screen and (max-width: 479px) {
  .is-bold.space-right-16px.heading-h4 {
    letter-spacing: normal;
  }
}

.is-bold.space-right-16px.heading-h4-size-2-2 {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width: 479px) {
  .flex-block {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.px-16 {
  padding-right: 1em;
  padding-left: 1em;
}

.text-left {
  text-align: left;
}

.is-bold.is-white.heading-h4-size {
  font-size: var(--h4);
}

.space-top-10px {
  margin-top: 10px;
}

.is-bold.heading-h4-size {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
  font-size: var(--h4);
  line-height: 1.35;
  letter-spacing: 1px;
}

.is-bold.div-fixed-height-3 {
  height: 130px;
}

@media screen and (max-width: 767px) {
  .is-bold.div-fixed-height-3 {
    height: 70px;
  }
}

@media screen and (max-width: 479px) {
  .is-bold.div-fixed-height-3 {
    height: 100px;
  }
}

.is-bold.div-fixed-height-3-2 {
  height: 130px;
}

@media screen and (max-width: 767px) {
  .is-bold.div-fixed-height-3-2 {
    height: 70px;
  }
}

@media screen and (max-width: 479px) {
  .is-bold.div-fixed-height-3-2 {
    height: 100px;
  }
}

.is-purple {
  color: var(--purple);
}

.text-align-left {
  text-align: left;
}

.h4-style {
  font-size: var(--h4);
}

@media screen and (max-width: 479px) {
  .h4-style {
    font-family: var(--montserrat-uploaded);
    color: var(--blue-dark);
    font-size: var(--h4);
  }
}

@media screen and (max-width: 767px) {
  .mobile-align-center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .mobile-align-center {
    text-align: center;
  }
}

.is-bold.location-title {
  font-size: var(--h5);
}

@media screen and (max-width: 479px) {
  .is-bold.location-title {
    font-size: var(--h6);
  }
}

.card-content {
  min-height: 60px;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 0px;
}

@media screen and (max-width: 991px) {
  .card-content {
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    flex-direction: column;
  }
}

.card-content.space-bottom-24px.fixed-height-card {
  overflow: hidden;
  height: 100px;
  max-height: 100px;
}

.card-content.space-bottom-24px.fixed-height-card:lang(ja) {
  height: 235px;
}

@media screen and (max-width: 991px) {
  .card-content.space-bottom-24px.fixed-height-card {
    height: 135px;
    max-height: 135px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.space-bottom-24px.fixed-height-card {
    height: auto;
  }
}

.card-content.space-bottom-24px.fixed-height-card2 {
  height: 110px;
}

.card-content.space-bottom-24px.fixed-height-card2:lang(ko) {
  height: 110px;
}

.card-content.space-bottom-24px.fixed-height-card2:lang(ja) {
  height: 110px;
}

@media screen and (max-width: 991px) {
  .card-content.space-bottom-24px.fixed-height-card2 {
    overflow: hidden;
    height: 125px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.space-bottom-24px.fixed-height-card2 {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .card-content.space-bottom-24px.fixed-height-card2.overflow-mobile {
    overflow: visible;
  }
}

.card-content.space-bottom-24px.fixed-height-card-3 {
  height: 70px;
}

.card-content.space-bottom-24px.fixed-height-card-3:lang(ko) {
  height: 110px;
}

.card-content.space-bottom-24px.fixed-height-card-3:lang(ja) {
  height: 110px;
}

@media screen and (max-width: 991px) {
  .card-content.space-bottom-24px.fixed-height-card-3 {
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.space-bottom-24px.fixed-height-card-3 {
    height: auto;
  }
}

.card-content.space-bottom-24px.fixed-height-card-extra-line {
  overflow: hidden;
  height: 115px;
  max-height: 115px;
}

.card-content.space-bottom-24px.fixed-height-card-extra-line:lang(ja) {
  height: 235px;
}

@media screen and (max-width: 991px) {
  .card-content.space-bottom-24px.fixed-height-card-extra-line {
    height: 135px;
    max-height: 135px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.space-bottom-24px.fixed-height-card-extra-line {
    height: auto;
  }
}

.card-content.space-bottom-24px.fixed-height-card-4-2 {
  height: 145px;
}

@media screen and (max-width: 991px) {
  .card-content.fixed-height-card-160 {
    height: 160px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.fixed-height-card-160 {
    height: auto;
  }
}

.card-content.fixed-height-card-3 {
  height: 70px;
}

.card-content.div-fixed-height-250px {
  height: 250px;
}

@media screen and (max-width: 991px) {
  .card-content.div-fixed-height-250px {
    height: 375px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.div-fixed-height-250px {
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .card-content.space-top-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .card-content.height-135 {
    height: 135px;
  }
}

@media screen and (max-width: 479px) {
  .card-content.height-135 {
    height: auto;
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.align-right:lang(ko) {
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .align-right {
    width: 100%;
  }
}

.align-right.space-top-16px {
  margin-top: 16px;
}

.align-right.space-top-16px.space-bottom-16px {
  margin-bottom: 16px;
}

@media screen and (max-width: 991px) {
  .align-right.space-top-16px.space-bottom-16px.card-vertical {
    flex-direction: column;
    align-items: flex-start;
  }
}

.align-right.space-bottom-24px {
  margin-bottom: 24px;
}

.align-right.space-bottom-24px.space-top-8px {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .align-right.space-bottom-24px.mobile-align-left {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-align-left {
    display: flex;
    align-self: stretch;
  }
}

.align-right.border-top-blue {
  border-top: 3px solid var(--blue-medium);
}

.pt-10 {
  padding-top: 10px;
}

.align-right.border-top-soft-blue {
  border-top: 3px solid var(--soft-blue);
}

.button-text {
  max-width: 65ch;

  font-family: var(--montserrat-uploaded);
  color: var(--white);
  font-size: var(--h5);
  font-weight: 500;
  letter-spacing: 1.8px;
}

@media screen and (min-width: 1280px) {
  .button-text {
    color: var(--white);
  }
}

.button-text:lang(de) {
  max-width: 200ch;
}

@media screen and (max-width: 479px) {
  .button-text {
    display: block;
  }
}

.button-text.mobile-only {
  display: none;
}

@media screen and (max-width: 991px) {
  .button-text.mobile-only {
    display: block;
  }
}

.button-text.is-bold {
  font-weight: 700;
}

.button-text.is-bold.is-dark-blue:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 991px) {
  .width-auto {
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .button-text.is-dark-blue {
    color: var(--blue-dark);
  }
}

.is-semibold {
  font-weight: 600;
}

.is-semibold:lang(ko) {
  color: var(--blue-dark);
}

@media screen and (min-width: 1280px) {
  .button-text.is-navy {
    color: var(--blue-dark);
  }
}

.is-navy {
  color: var(--navy);
}

.column-3x1 {
  display: grid;
  width: auto;
  max-width: 1150px;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1920px) {
  .column-3x1 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1 {
    justify-content: start;
    justify-items: end;
    align-content: start;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1 {
    width: auto;
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.column-3x1.space-top-48px {
  width: auto;
  margin-top: 48px;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px {
    justify-items: stretch;
  }
}

.column-3x1.space-top-48px:lang(ja) {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px {
    width: auto;
    margin-top: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px {
    max-width: none;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    justify-items: stretch;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.column-3x1.space-top-48px.space-bottom-28px {
  width: auto;
  margin-bottom: 28px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px.no-padding {
    justify-items: start;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.no-padding {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.space-left-32px {
  margin-left: 32px;
  padding-left: 0px;
}

.column-3x1.space-top-48px.space-left-32px.space-right-32 {
  margin-right: 32px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .px-20 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.column-3x1.space-top-48px.px-20.gap-64 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.column-3x1.space-top-48px.gap-16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-row-gap: 46px;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-template-rows: auto;
  }
}

.column-3x1.gap-24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.column-3x1.gap-24.space-top-48px.space-bottom-40px:lang(ja) {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 767px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 440px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 288px;
  }
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-16px {
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1.align-center-text {
    justify-items: center;
  }
}

.column-3x1.vertical-gap-adjust {
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.flex-stretch {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.flex-stretch {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.flex-stretch {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.column-3x1.careers-values-collage {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.align-center.is-white.space-bottom-90px {
  margin-bottom: 90px;
}

.width-80 {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .align-center.width-80.space-top-80px.height-test {
    height: 1000px;
  }
}

@media screen and (max-width: 479px) {
  .align-center.width-80.space-top-80px.height-test {
    height: 800px;
  }
}

.width-700 {
  width: 800px;
}

@media screen and (max-width: 991px) {
  .width-700 {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .width-700 {
    max-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .width-700 {
    max-width: 320px;
  }
}

.px-5 {
  width: 100%;
  max-width: 1150px;
  padding-right: 5%;
  padding-left: 5%;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 479px) {
  .align-center.max-width-1150 {
    max-width: 300px;
  }
}

.align-center.space-bottom-40px.px-16.max-width-550 {
  max-width: 700px;
}

.max-width-550 {
  max-width: 550px;
  margin-right: 32px;
  margin-left: 32px;
}

@media screen and (max-width: 479px) {
  .max-width-550 {
    max-width: 660%;
    margin-right: 16px;
    margin-left: 16px;
  }
}

.align-center.space-bottom-40px.lottie-1-text {
  position: relative;
  top: -103px;
  z-index: 3;
}

@media screen and (min-width: 1920px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -99px;
  }
}

@media screen and (min-width: 1440px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -178px;
  }
}

@media screen and (min-width: 1280px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -130px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -89px;
  }
}

@media screen and (max-width: 767px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -63px;
  }
}

@media screen and (max-width: 479px) {
  .align-center.space-bottom-40px.lottie-1-text {
    top: -107px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

.align-center.space-bottom-40px.lottie-1-text.level-3 {
  top: -150px;
}

@media screen and (min-width: 1920px) {
  .align-center.space-bottom-40px.lottie-1-text.level-3 {
    left: 0px;
    top: -235px;
  }
}

@media screen and (max-width: 991px) {
  .align-center.space-bottom-40px.lottie-1-text.level-3 {
    top: -128px;
  }
}

@media screen and (max-width: 767px) {
  .align-center.space-bottom-40px.lottie-1-text.level-3 {
    top: -84px;
  }
}

@media screen and (max-width: 479px) {
  .align-center.space-bottom-40px.lottie-1-text.level-3 {
    top: -113px;
  }
}

.align-center.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .align-center.mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
}

.mt-40 {
  margin-top: 40px;
}

.align-center.space-top-16px.space-bottom-16px {
  padding-bottom: 16px;
}

.align-center.space-bottom-90px {
  margin-bottom: 90px;
}

.pb-24 {
  padding-bottom: 24px;
}

.full-width {
  display: flex;
  width: 100%;
  max-width: 1150px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .full-width {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .full-width {
    width: 100%;
    align-items: flex-start;
  }
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.max-width-880 {
  max-width: 880px;
}

@media screen and (max-width: 991px) {
  .max-width-880 {
    max-width: 800px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .max-width-880 {
    width: 100%;
    max-width: 500px;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .max-width-880 {
    width: 100%;
    max-width: 320px;
  }
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.two-col-reverse-on-mobile {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 991px) {
  .two-col-reverse-on-mobile {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .two-col-reverse-on-mobile {
    display: flex;
    flex-direction: column-reverse;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

.align-center.align-bottom {
  justify-content: flex-end;
  align-items: center;
}

.button-primary-new-dark-blue {
  display: flex;
  width: auto;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border: 1px none #3381f3;
  border-radius: 0px;

  background-color: var(--blue-dark);

  box-shadow: 6px 6px 16px 0 hsla(0, 0.00%, 20.00%, 0.10);

  transition: transform 400ms ease,border-color 400ms ease,background-color 400ms ease;

  font-family: var(--montserrat-uploaded);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: var(--h5);
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.8px;
  text-decoration: none;
  -webkit-text-stroke-color: #3381f3;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .button-primary-new-dark-blue {
    width: auto;
  }
}

.button-primary-new-dark-blue:hover {
  border-color: #020b6e;
  background-color: var(--blue-medium);
  transform: translate(0px, -1.5px);
}

@media screen and (max-width: 991px) {
  .button-primary-new-dark-blue {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-new-dark-blue {
    width: 100%;
  }
}

.button-primary-new-dark-blue.space-top-28px {
  margin-top: 28px;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-primary-new-dark-blue.my-8.english-only:lang(zh) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(ja) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(ko) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(vi) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(id) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(de) {
  display: none;
}

.button-primary-new-dark-blue.my-8.english-only:lang(fr) {
  display: none;
}

.button-icon {
  height: 14px;
  margin-left: 16px;
}

.button-icon:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 479px) {
  .button-icon {
    -webkit-text-stroke-color: #3381f3;
  }
}

#w-node-_8565fe02-7e8d-e4c1-434e-43e464b89431-64b8942e {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_8565fe02-7e8d-e4c1-434e-43e464b89432-64b8942e {
}
#w-node-_8565fe02-7e8d-e4c1-434e-43e464b89446-64b8942e {
}