.grid-13 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid-13 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-13 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-13 {
    grid-template-columns: 1fr;
  }
}

.blog-author-columns {
  display: flex;
  width: auto;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .blog-author-columns {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .blog-author-columns {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}

.image {
  display: block;
  max-width: 100%;
}

.author-img {
  border-radius: 100%;
}

.image.author-img.blog-author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-20 {
  font-size: 1.25rem;
}

.text-black {
  color: var(--black-ee558e2a);
  text-decoration: none;
}

.text-bold-700 {
  font-family: var(--font);
  font-weight: 700;
}

.text-20.text-black.text-bold-700.mb-20 {
  display: block;
}

.text-20.text-black.text-bold-700.mb-20:hover {
  color: var(--blueMedium-239dc91f);
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .text-decoration-none {
    font-family: var(--font);
  }
}

.text-20.text-bold-700.text-white.text-decoration-none.link-arrow {
  filter: brightness(1000%);
}

.link-arrow {
  padding-right: 40px;
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a99573_LINK-ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.mt-auto {
  margin-top: auto;
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.link-arrow-blue {
  padding-right: 40px;
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a99573_LINK-ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.text-semi-bold-600 {
  font-weight: 600;
}

#w-node-_318d808d-3dcb-562c-b669-888db2b79b31-b2b79b30 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}