.button-yellow {
  border-style: solid;
  border-width: 3px;
  border-color: hsla(48, 92.59%, 62.94%, 1.00);

  background-color: hsla(48, 92.59%, 62.94%, 1.00);

  color: hsla(0, 0.00%, 0.00%, 1.00);
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button-yellow.button-medium {
  padding: 6px 20px;

  transition: background-color 300ms ease,border 300ms ease;

  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.button-yellow.button-medium:hover {
  border-color: var(--yellowDark-2bf003ba);
  background-color: var(--yellowDark-2bf003ba);
}

.mt-10 {
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  .mt-10 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .button-yellow.button-medium.ipsos-report-download {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.mt-32 {
  margin-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .mt-32 {
    margin-top: 2rem;
  }
}

.button-yellow.button-long {
  padding: 16px 32px;

  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.button-yellow.button-long.text-black {
  margin-top: 20px;
  transition: background-color 300ms ease,border 300ms ease;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button-yellow.button-long.text-black:hover {
  border-color: var(--yellowDark-2bf003ba);
  background-color: var(--yellowDark-2bf003ba);
}

.text-black {
  color: var(--black-ee558e2a);
  text-decoration: none;
}

.button-yellow.button-long.text-black {
  background-color: hsla(48, 92.59%, 62.94%, 1.00);
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .button-yellow.button-long.text-black {
    display: inline-block;
    text-align: left;
  }
}

.button-yellow.button-long.text-black {
  margin-top: 0px;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button-yellow.button-long.text-black {
  transition: background-color 300ms ease,border 300ms ease;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button-yellow.button-long.text-black:hover {
  border-color: hsla(38.42696629213483, 86.41%, 59.61%, 1.00);
  background-color: hsla(38.42696629213483, 86.41%, 59.61%, 1.00);
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-blue-dark {
  color: var(--blueDark-7dc5601b);
  text-decoration: none;
}

.button-yellow.button-medium {
  padding: 6px 20px;

  transition: background-color 300ms ease,border 300ms ease;

  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.button-yellow.button-medium:hover {
  border-color: hsla(38.42696629213483, 86.41%, 59.61%, 1.00);
  background-color: hsla(38.42696629213483, 86.41%, 59.61%, 1.00);
}

.button-yellow.button-medium.text-white {
  order: 10;
}

@media screen and (max-width: 991px) {
  .button-yellow.button-medium.text-white {
    order: 1;
  }
}

.button-yellow.button-medium.text-white.ml-25 {
  margin-left: 25px;
}

@media screen and (max-width: 991px) {
  .button-yellow.button-medium.text-white.ml-25 {
    margin-bottom: 25px;
  }
}

.button-yellow.button-medium {
  padding: 6px 20px;

  transition: background-color 300ms ease,border 300ms ease;

  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.button-yellow.button-medium:hover {
  border-color: #f1b13f;
  background-color: #f1b13f;
}