.filter_form-wrapper {
  max-width: 100%;
  margin-bottom: 0rem;
  padding-top: 40px;
}

.filter_form {
  max-width: 100%;
}

.container {
  display: block;
  overflow: visible;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 1rem;
  align-items: center;
  flex: 0 auto;

  color: var(--black-ee558e2a);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

.container:lang(ko) {
  font-size: 120%;
}

@media screen and (max-width: 767px) {
  .container {
    object-fit: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}

.px-0 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  align-self: auto;
  order: 0;
  flex: 0 auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container.py-32.yellow-border {
  border-top-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.yellow-border {
  border-top: 5px solid var(--yellowMedium-02744336);
}

.container.relative {
  z-index: 4;
}

.relative {
  position: relative;
}

.centered-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .centered-container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.space-top-48px {
  margin-top: 48px;
}

.container.py-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

@media screen and (max-width: 767px) {
  .container.py-60.mobile-positioning {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.filter_block {
  position: relative;

  display: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-bottom: 1px solid hsla(0, 0.00%, 87.33%, 1.00);
}

.filter_block-header {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;

  display: grid;
  padding: 1rem 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_block-header {
    padding-left: 1rem;
    align-items: start;
  }
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .heading-small {
    font-size: 1rem;
  }
}

.heading-small.heading-h3-size {
  letter-spacing: normal;
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.filter_reset {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid hsla(109.99999999999999, 18.32%, 86.94%, 1.00);
  color: hsla(0, 0.00%, 43.33%, 1.00);
  text-decoration: none;
}

.filter_options {
  position: relative;

  overflow: auto;
  max-height: 30rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.dropdown-filter {
  display: none;
}

.custom-selectbox {
  color: var(--blue-medium);
}

.filter-select {
  margin-bottom: 20px;
  padding-right: 2rem;
  padding-left: 1rem;

  border: 1px solid var(--blueMedium-239dc91f);

  background-color: var(--white-2556bf0f);
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/625d844a1e7c9c000a29f9a7_ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;

  font-size: 1rem;

  cursor: pointer;
}

.text-12 {
  font-size: 0.75rem;
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.filter-select.text-12.text-bold-700.letter-spacing-1.text-blue-medium {
  background-position: 96% 50%;
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .filter-select.text-12.text-bold-700.letter-spacing-1.text-blue-medium.uppercase.ml-0 {
    margin-left: 0px;
  }
}

.filter_header {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_header {
    padding-top: 0px;
    padding-bottom: 0rem;
    padding-left: 16px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .filter_header {
    padding-left: 0px;
  }
}

.filter_search-field {
  margin-bottom: 0px;
  padding: 10px 18px 10px 50px;

  border: 1px solid var(--blueMedium-239dc91f);

  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6262b5ac92f0fa0b71597ca0_SEARCH%20ICON.svg");
  background-position: 10px 50%;
  background-size: auto;
  background-repeat: no-repeat;

  color: var(--blueMedium-239dc91f);
  font-size: 1rem;
}

.filter_grid {
  display: block;
  align-items: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .filter_grid {
    grid-template-columns: 0.66fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .filter_grid {
    grid-template-columns: 1fr;
  }
}

.filter_column {
  display: none;

  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 87.33%, 1.00);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.filter_content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.content_filter.width-900 {
  max-width: 900px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .filter-list {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.mb-24.d-flex {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .mb-24.d-flex {
    padding-right: 4px;
    padding-left: 4px;
    flex-wrap: wrap;
    object-fit: fill;
  }
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.is-bold {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .d-flex.reverse {
    flex-wrap: wrap-reverse;
  }
}

.d-flex.align-center {
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .d-flex.align-center {
    flex-direction: row;
    justify-content: center;
  }
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .d-flex.align-center.mt-32 {
    flex-wrap: nowrap;
  }
}

.mt-32 {
  margin-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .mt-32 {
    margin-top: 2rem;
  }
}

.d-flex.align-center.space-between {
  justify-content: space-between;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.pt-40 {
  padding-top: 40px;
}

.d-flex.align-center.two-col-reverse-on-mobile {
  flex-wrap: nowrap;
}

.two-col-reverse-on-mobile {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 991px) {
  .two-col-reverse-on-mobile {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .two-col-reverse-on-mobile {
    display: flex;
    flex-direction: column-reverse;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

.d-flex.justify-center {
  justify-content: center;
}

.d-flex.flex-direction-column {
  flex-direction: column;
}

.bg-gray-15 {
  background-color: var(--gray20-b78e1b77);
}

.box-shadow {
  box-shadow: 2px 0 12px 0 hsla(0, 0.00%, 0.00%, 0.15);
}

.d-flex.gap-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.d-flex.align-top {
  align-items: flex-start;
}

.align-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .align-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.d-flex.align-top.three-col-reverse-on-mobile-copy {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .d-flex.align-top.three-col-reverse-on-mobile-copy {
    flex-direction: column;
  }
}

.d-flex.align-top.align-horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .d-flex.align-top.align-horizontal {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.d-flex.left-col {
  flex: 1;
}

.p-20 {
  padding: 1.25rem;
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.d-flex.align-side-by-side {
  align-items: flex-start;
}

.d-flex.align-side-by-side.three-col-reverse-on-mobile-copy {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .d-flex.align-side-by-side.three-col-reverse-on-mobile-copy {
    flex-direction: column;
  }
}

._w-100 {
  display: inline-block;
  width: 100%;
}

._w-100:lang(ko) {
  width: 100%;
  height: 100%;
}

.blog-post-content-block {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.content_card-header {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .content_card-header {
    align-items: flex-start;
  }
}

.content_card-info-block {
  display: block;
  justify-items: start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.content_card-info-label {
  display: none;
  font-size: 0.875rem;
  font-weight: 500;
}

.text-12.text-blue-medium.text-bold-700.uppercase.letter-spacing-1 {
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-12.text-blue-medium.text-bold-700.uppercase.letter-spacing-1.mb-0 {
  padding-left: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.text-decoration-none {
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .text-decoration-none {
    font-family: var(--montserrat-uploaded);
  }
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.text-right {
  text-align: right;
}

.text-12.text-blue-medium.uppercase.text-right.letter-spacing-1 {
  margin-bottom: 0px;
}

.text-20 {
  font-size: 1.25rem;
}

.text-black {
  color: var(--black-ee558e2a);
  text-decoration: none;
}

.text-20.text-black.text-bold-700.mb-20 {
  display: block;
}

.text-20.text-black.text-bold-700.mb-20:hover {
  color: var(--blueMedium-239dc91f);
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-20.text-bold-700.text-white.text-decoration-none.link-arrow {
  filter: brightness(1000%);
}

.link-arrow {
  padding-right: 40px;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/625ec8d8d207e37d3156ec9f_LINK-ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.mt-auto {
  margin-top: auto;
}

.post-image-column {
  margin-bottom: 16px;
}

@media screen and (max-width: 991px) {
  .post-image-column {
    width: 100%;
  }
}

.mt-auto.mb-auto {
  margin-bottom: auto;
}

.link-arrow-black {
  padding-right: 40px;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6262a51f8507197810a7a77d_LINK-ARROW-BLACK.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.link-arrow-black.text-black.text-18.text-bold-700 {
  display: inline-block;
}

.link-arrow-black.text-black.text-18.text-bold-700:hover {
  color: var(--blueMedium-239dc91f);
}

.link-arrow-black.text-black.text-18.text-bold-700 {
  display: inline-block;
}

.link-arrow-black.text-black.text-18.text-bold-700:hover {
  color: hsla(215.625, 88.89%, 57.65%, 1.00);
}

.link-arrow-black.text-black.text-18.text-bold-700 {
  display: inline-block;
}

.link-arrow-black.text-black.text-18.text-bold-700:hover {
  color: hsla(215.625, 88.89%, 57.65%, 1.00);
}

.link-arrow-black.text-black.text-18.text-bold-700 {
  display: inline-block;
}

.link-arrow-black.text-black.text-18.text-bold-700:hover {
  color: hsla(215.625, 88.89%, 57.65%, 1.00);
}

._w-40 {
  width: 40px;
}

.border-rounded {
  border-radius: 100px;
}

.button-blue {
  position: relative;

  border-style: solid;
  border-width: 3px;
  border-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  color: var(--white-2556bf0f);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue.button-long {
  padding: 16px 32px;
  transition: background-color 300ms ease,border 300ms ease;
  font-size: 1.125em;
  line-height: 1.2;
  font-weight: 600;
}

.button-blue.button-long:hover {
  border-color: var(--blueMedium-239dc91f);
  background-color: var(--blueMedium-239dc91f);
}

.button-blue.button-medium {
  padding: 6px 20px;
  align-self: flex-start;

  transition: background-color 300ms ease,border 300ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1em;
  font-weight: 600;
}

.button-blue.button-medium:hover {
  border-color: var(--blue-9a574638);
  background-color: var(--blue-9a574638);
}

.button-blue.button-medium.ml-20 {
  margin-left: 20px;
}

.ml-20 {
  padding-left: 20px;
}

.button-blue.button-medium {
  padding: 6px 20px;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1em;
  font-weight: 600;
}

.button-blue.button-medium {
  padding: 6px 20px;
  transition: background-color 300ms ease,border 300ms ease;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1em;
  font-weight: 600;
}

.button-blue.button-medium:hover {
  border-color: hsla(242.00956937799043, 91.27%, 55.10%, 1.00);
  background-color: hsla(242.00956937799043, 91.27%, 55.10%, 1.00);
}

.filter_empty {
  display: block;
  width: 100%;
  max-width: 1150px;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 87.33%, 1.00);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_empty {
    max-width: 1150px;
  }
}

.filter_empty.width-900 {
  width: 900px;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .filter_empty.width-900 {
    width: 100%;
  }
}

.filter_empty-icon {
  width: 5rem;
  margin-bottom: 0.5rem;
  filter: sepia(100%);
}

#w-node-ab11d2e9-9242-5662-b0ab-41a8fec0b61a-fec0b5e7 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}