.sticky-dynamic-img-mcm {
  position: sticky;
  top: 0px;

  display: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6883450d442400c69f720e80_MCM.avif");
  background-position: 0px 0px;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .sticky-dynamic-img-mcm {
    position: static;
  }
}

.contact-product-info {
  min-height: 100vh;
  padding-right: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 991px) {
  .contact-product-info {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contact-product-info {
    min-height: auto;
  }
}

.contact-product-info.height-adjust {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.div-block-159-2 {
  position: sticky;
  top: 0px;
}

.div-block-155 {
  padding: 60px 60px 60px 0px;
}

@media screen and (max-width: 767px) {
  .div-block-155 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.back-button-wrapper {
  display: flex;
  text-decoration: none;
}

.back-button-wrapper:hover {
  transform: translate(0px, -1.5px);

  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.image-136 {
  margin-right: 10px;
}

.heading-h4-size {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--h4);
  font-weight: 600;
  letter-spacing: 0px;
}

@media screen and (min-width: 1920px) {
  .heading-h4-size {
    font-family: var(--montserrat-uploaded);
    font-size: var(--h4);
  }
}

@media screen and (max-width: 767px) {
  .heading-h4-size {
    line-height: 1.35;
  }
}

.heading-h4-size.is-bold {
  font-weight: 700;
}

.is-bold {
  font-weight: 700;
}

.heading-h4-size.is-bold.is-white {
  color: var(--white);
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

.space-top-24 {
  margin-top: 24px;
}

.heading-h4-size.space-top-24.space-bottom-24px {
  margin-bottom: 24px;
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.is-blue {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--blue-medium);
}

.heading-h4-size.is-normal {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--montserrat-uploaded);
  color: var(--blue-dark);
  font-weight: 400;
}

.is-normal {
  font-weight: 400;
}

.heading-h4-size.is-normal.space-bottom-4px {
  margin-bottom: 4px;
}

.space-bottom-16px {
  margin-bottom: 16px;
}

.heading-h4-size.space-bottom-12px {
  margin-bottom: 12px;
}

.heading-h4-size.is-white {
  font-size: var(--h4);
}

.heading-h4-size.is-white.space-bottom-16px.space-top-30 {
  margin-top: 30%;
}

@media screen and (max-width: 767px) {
  .heading-h4-size.is-white.space-bottom-16px.space-top-30 {
    margin-top: 16px;
  }
}

.h2-smaller {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-dark);
  font-size: 2rem;
  font-weight: 600;
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.align-center-text {
  text-align: center;
}

.h2-smaller.is-white {
  color: var(--white);
}

.h2-smaller.is-white:lang(ko) {
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .h2-smaller.is-white.mcm-size-adjust {
    font-size: 1.8rem;
  }
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }
}

.retail-ads {
  width: 50%;
  max-width: 340px;
  margin-top: 32px;
}

.retail-ads:lang(ko) {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .retail-ads {
    width: 40%;
    max-width: 80%;
    margin-bottom: 0px;
  }
}