.collection-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.collection-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .collection-item {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .collection-item {
    margin-bottom: 20px;
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .collection-item {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.bg-white {
  display: block;
  flex-wrap: wrap;
  background-color: var(--white-2556bf0f);
}

.overflow-hidden {
  overflow: hidden;
}

.p-40 {
  padding: 2.5rem;
}

.bg-white.p-40.border-gray-shadow {
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;

  box-shadow: 0 4px 4px 0 hsla(0, 0.00%, 0.00%, 0.10);

  border-top-color: #ecedee;
  border-right-color: #ecedee;
  border-bottom-color: #ecedee;
  border-left-color: #ecedee;
}

.align-vertical-mobile-only {
  display: flex;
}

@media screen and (max-width: 479px) {
  .align-vertical-mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.space-top-16px {
  margin-top: 16px;
}

.text-left {
  text-align: left;
}

.bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20 {
  position: relative;
  top: 19px;
}

@media screen and (max-width: 767px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20 {
    top: 17px;
  }
}

.bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.space-right-32px {
  margin-right: 32px;
}

.bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.space-right-32px.min-height-340 {
  height: 320px;
}

@media screen and (max-width: 991px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.space-right-32px.min-height-340 {
    height: 380px;
  }
}

@media screen and (max-width: 767px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.space-right-32px.min-height-340 {
    height: 550px;
  }
}

@media screen and (max-width: 479px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.space-right-32px.min-height-340 {
    height: 575px;
  }
}

@media screen and (max-width: 767px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.width-700 {
    max-width: 400px;
  }
}

@media screen and (max-width: 479px) {
  .bg-white.p-40.border-gray-shadow.space-top-16px.text-left.relative-top-20.width-700 {
    max-width: 300px;
  }
}

.width-700 {
  width: 800px;
}

@media screen and (max-width: 991px) {
  .width-700 {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .width-700 {
    max-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .width-700 {
    max-width: 320px;
  }
}

.blog-image {
  width: auto;
  height: 250px;
  max-width: none;
}

@media screen and (max-width: 767px) {
  .blog-image {
    width: 100%;
    height: auto;
  }
}

.p-20 {
  padding: 1.25rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.text-14 {
  font-size: 0.875em;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.text-bold-700 {
  font-family: var(--font);
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-14.text-blue.text-bold-700.uppercase.my-8.hide {
  display: block;
}

.hide {
  display: none;
}

.text-14.text-white {
  font-family: var(--font);
  font-size: var(--paragraph-small);
  font-weight: 400;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .text-decoration-none {
    font-family: var(--font);
  }
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.text-medium-500 {
  font-weight: 500;
}

.mt-32 {
  margin-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .mt-32 {
    margin-top: 2rem;
  }
}

.text-14.text-white {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.text-blue-medium.line-height-1-3 {
  text-decoration: none;
}

.line-height-1-3 {
  line-height: 1.333;
}

.text-center {
  text-align: center;
}

.text-20 {
  font-size: 1.25rem;
}

.link-arrow {
  padding-right: 40px;
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a99573_LINK-ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-0 {
  margin-top: 0px;
}