.section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.py-32.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.space-top-48px {
  margin-top: 48px;
}

.bg-yellow {
  background-color: var(--yellowMedium-02744336);
}

.py-52 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

.section.bg-blue-medium.py-60.hidde-now {
  display: none;
}

.bg-blue {
  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.125em;
  line-height: 1.222;
  font-weight: 500;
}

.section.bg-blue.py-52 {
  background-color: #020054;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/64ee3e30eb028cbd2524e639_dark-gradient-hero.webp");
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 991px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.hidden {
  display: none;
}

.section.bg-blue.py-52.pb-0 {
  padding-bottom: 0rem;

  background-color: #020838;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp"), url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/650b6bfd4fc9ec7bc1d6bd6d_bg-dark-gradient.webp");
  background-position: 0px 0px, 100% 0%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.section.bg-blue.py-52.pb-0.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-blue-light {
  background-color: var(--blueLight-aa790ae4);
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bg-soft-blue {
  background-color: hsla(208.00000000000003, 62.50%, 90.59%, 1.00);
}

.p-12 {
  padding: 0.75rem;
}

.bg-soft-gray {
  background-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.section.py-24 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section.py-60 {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-medium);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .section.py-60 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.hide {
  display: none;
}

.section.py-60.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.py-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section.slider-hero {
  display: flex;
  max-height: 620px;
}

.slider-hero {
  min-height: 620px;
  background-color: transparent;
}

.relative {
  position: relative;
}

.mb-32 {
  margin-bottom: 32px;
}

.section.product-hero {
  display: flex;
  min-height: auto;
  clear: both;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .section.product-hero {
    min-height: auto;
    flex-wrap: wrap;
  }
}

.section.hidden {
  display: none;
}

.section.pop-menu {
  position: sticky;
  top: 90px;
  z-index: 998;

  display: block;

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  color: var(--white-2556bf0f);
}

.section.pop-menu.hidden {
  display: none;
}

.section.lp-bg-mesh {
  background-color: hsla(241.42857142857142, 100.00%, 16.47%, 1.00);
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .section.lp-bg-mesh {
    background-position: 100% 0%;
  }
}

.section.lp-bg-mesh.pt-32 {
  padding-top: 3.1rem;
}

.mask-w1150max {
  max-width: 1150px;
}

.section.mask-w1150max.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.section.bg-blue-black-gradient {
  background-image: linear-gradient(180deg, var(--blue-dark), var(--black));
}

.space-top-80px {
  margin-top: 80px;
}

.section.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 767px) {
  .section.background-gradient {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (max-width: 767px) {
  .section.background-gradient-2 {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient-2 {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 991px) {
  .section.background-gradient-2 {
    background-size: cover;
  }
}

.section.hide-on-english {
  display: none;
}

.section.hide-on-english:lang(ko) {
  display: block;
}

.container-3 {
  display: block;
  padding: 0px 1rem;
  align-items: center;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.text-blue.text-center-2 {
  margin-top: 20px;
  text-align: center;
}

.mt-0 {
  margin-top: 0px;
}

.text-blue.text-center-2.mt-0.mb-48 {
  font-weight: 700;
  text-align: center;
}

.mb-48 {
  margin-bottom: 3rem;
}

.text-blue.text-center-2.mt-0.mb-24 {
  font-weight: 700;
  text-align: center;
}

.mb-24 {
  margin-bottom: 24px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.line-height-1-2 {
  line-height: 1.2;
}

.text-center {
  text-align: center;
}

.text-blue.heading-h4-size {
  font-family: var(--montserrat-uploaded);
}

.heading-h4-size {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--h4);
  font-weight: 600;
  letter-spacing: 0px;
}

@media screen and (min-width: 1920px) {
  .heading-h4-size {
    font-family: var(--montserrat-uploaded);
    font-size: var(--h4);
  }
}

@media screen and (max-width: 767px) {
  .heading-h4-size {
    line-height: 1.35;
  }
}

.grid-accreditations {
  max-width: 80%;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid-accreditations {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.intro-body.text-black {
  margin-right: auto;
  margin-left: auto;
}

.text-black {
  color: var(--black-ee558e2a);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .intro-body.text-black.text-accreditation {
    display: none;
  }
}

.intro-body {
  font-family: Montserrat, sans-serif;
  color: var(--white-2556bf0f);
  font-size: 1.5rem;
  line-height: 1.35;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .intro-body {
    font-size: 1.125rem;
  }
}

.text-blue-dark {
  color: var(--blueDark-7dc5601b);
  text-decoration: none;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.text-left {
  text-align: left;
}

#w-node-ad4e0de9-9834-443e-7463-ab09b12439ee-b12439e9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ad4e0de9-9834-443e-7463-ab09b12439ef-b12439e9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ad4e0de9-9834-443e-7463-ab09b12439f0-b12439e9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ad4e0de9-9834-443e-7463-ab09b12439f1-b12439e9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ad4e0de9-9834-443e-7463-ab09b12439f2-b12439e9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}