.section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.py-32.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.space-top-48px {
  margin-top: 48px;
}

.bg-yellow {
  background-color: var(--yellowMedium-02744336);
}

.py-52 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

.section.bg-blue-medium.py-60.hidde-now {
  display: none;
}

.bg-blue {
  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.125em;
  line-height: 1.222;
  font-weight: 500;
}

.section.bg-blue.py-52 {
  background-color: #020054;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/64ee3e30eb028cbd2524e639_dark-gradient-hero.webp");
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 991px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.hidden {
  display: none;
}

.section.bg-blue.py-52.pb-0 {
  padding-bottom: 0rem;

  background-color: #020838;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp"), url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/650b6bfd4fc9ec7bc1d6bd6d_bg-dark-gradient.webp");
  background-position: 0px 0px, 100% 0%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.section.bg-blue.py-52.pb-0.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-blue-light {
  background-color: var(--blueLight-aa790ae4);
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bg-soft-blue {
  background-color: hsla(208.00000000000003, 62.50%, 90.59%, 1.00);
}

.p-12 {
  padding: 0.75rem;
}

.bg-soft-gray {
  background-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.section.py-24 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section.py-60 {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-medium);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .section.py-60 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.hide {
  display: none;
}

.section.py-60.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.py-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section.slider-hero {
  display: flex;
  max-height: 620px;
}

.slider-hero {
  min-height: 620px;
  background-color: transparent;
}

.relative {
  position: relative;
}

.mb-32 {
  margin-bottom: 32px;
}

.section.product-hero {
  display: flex;
  min-height: auto;
  clear: both;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .section.product-hero {
    min-height: auto;
    flex-wrap: wrap;
  }
}

.section.hidden {
  display: none;
}

.section.pop-menu {
  position: sticky;
  top: 90px;
  z-index: 998;

  display: block;

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  color: var(--white-2556bf0f);
}

.section.pop-menu.hidden {
  display: none;
}

.section.lp-bg-mesh {
  background-color: hsla(241.42857142857142, 100.00%, 16.47%, 1.00);
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .section.lp-bg-mesh {
    background-position: 100% 0%;
  }
}

.section.lp-bg-mesh.pt-32 {
  padding-top: 3.1rem;
}

.mask-w1150max {
  max-width: 1150px;
}

.section.mask-w1150max.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.section.bg-blue-black-gradient {
  background-image: linear-gradient(180deg, var(--blue-dark), var(--black));
}

.space-top-80px {
  margin-top: 80px;
}

.section.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 767px) {
  .section.background-gradient {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (max-width: 767px) {
  .section.background-gradient-2 {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient-2 {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 991px) {
  .section.background-gradient-2 {
    background-size: cover;
  }
}

.section.hide-on-english {
  display: none;
}

.section.hide-on-english:lang(ko) {
  display: block;
}

.container {
  display: block;
  overflow: visible;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 1rem;
  align-items: center;
  flex: 0 auto;

  color: var(--black-ee558e2a);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

.container:lang(ko) {
  font-size: 120%;
}

@media screen and (max-width: 767px) {
  .container {
    object-fit: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}

.px-0 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  align-self: auto;
  order: 0;
  flex: 0 auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.container.py-32.yellow-border {
  border-top-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.yellow-border {
  border-top: 5px solid var(--yellowMedium-02744336);
}

.container.relative {
  z-index: 4;
}

.centered-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .centered-container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.container.py-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

@media screen and (max-width: 767px) {
  .container.py-60.mobile-positioning {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.text-center {
  text-align: center;
}

.text-center.text-blue-dark {
  color: var(--blueDark-7dc5601b);
}

.text-blue-dark {
  color: var(--blueDark-7dc5601b);
  text-decoration: none;
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.text-yellow {
  color: var(--yellowMedium-02744336);
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.uppercase {
  text-transform: uppercase;
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-center.text-blue-dark {
  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.intro-body {
  font-family: Montserrat, sans-serif;
  color: var(--white-2556bf0f);
  font-size: 1.5rem;
  line-height: 1.35;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .intro-body {
    font-size: 1.125rem;
  }
}

.text-center.mb-48.text-blue-dark.mt-10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  .mt-10 {
    grid-template-columns: 1fr;
  }
}

.text-24 {
  font-size: 1.5rem;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.tabs-partners.space-top-48px {
  max-width: 1150px;
}

@media screen and (max-width: 479px) {
  .tabs-partners.space-top-48px {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tab-partners-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .tab-partners-menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .tab-partners-menu.mb-48 {
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .tab-partners-menu.mb-48 {
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .tab-partners-menu.mb-48 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.tab-partners-menu.space-bottom-24px:lang(ko) {
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .tab-partners-menu.space-bottom-24px {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.tab-partners-menu.space-bottom-24px.space-top-24px {
  margin-right: 0px;
  margin-left: 0px;
}

.space-top-24px {
  margin: 24px 16px 16px;
}

.tab-partner-link {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;

  background-color: transparent;

  color: var(--blueMedium-239dc91f);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.tab-partner-link:global(.w--current) {
  background-color: transparent;
  color: var(--blueDark-7dc5601b);
}

@media screen and (max-width: 767px) {
  .tab-partner-link:global(.w--current) {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .tab-partner-link:global(.w--current) {
    border: 0px solid black;
  }
}

@media screen and (max-width: 767px) {
  .tab-partner-link.tab-border-right {
    align-items: center;
    align-self: auto;
  }
}

@media screen and (max-width: 479px) {
  .tab-partner-link.tab-border-right {
    padding-right: 1rem;
    padding-left: 1rem;
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: black var(--blueMedium-239dc91f) black black;
  }
}

.tab-border-right {
  border-right: 3px solid var(--blueMedium-239dc91f);
}

@media screen and (max-width: 479px) {
  .partner-tab-text {
    font-size: 12px;
  }
}

.partner-tab-content {
  overflow: visible;
}

.grid-4 {
  display: grid;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid-4 {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tooltip-container {
  position: relative;
  top: 0px;
  bottom: 0px;

  display: flex;
  width: 100%;
  height: 180px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .tooltip-container {
    height: auto;
    max-height: 150px;
    max-width: 100px;
  }
}

.tooltip-container.relative {
  text-align: center;
  object-fit: fill;
}

.img-partner {
  position: relative;
  z-index: 2;
}

.partner-tooltip-wrapper {
  position: relative;
  left: 45%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  min-width: 200px;
  margin-left: 0%;

  opacity: 0;

  transform: translate(-50%, -60%);
}

@media screen and (max-width: 991px) {
  .partner-tooltip-wrapper {
    z-index: 2;
    max-width: 200px;
    min-width: auto;
  }
}

@media screen and (max-width: 767px) {
  .partner-tooltip-wrapper {
    max-width: 100px;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .partner-tooltip-wrapper {
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;

    max-height: 100px;
    min-height: auto;
  }
}

.partner-tooltip {
  box-shadow: 0 0 6px 1px var(--partnerTooltip-b077885d);
}

.p-16 {
  padding: 1rem;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.pt-10 {
  padding-top: 10px;
}

.text-bold-700.text-blue-dark.pt-10.value-clamp {
  min-height: 110px;
}

.text-31 {
  font-size: 1.938rem;
}

.text-28 {
  font-size: 1.75rem;
}

.text-bold-700.text-28.text-blue.ml-20 {
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  .text-bold-700.text-28.text-blue.ml-20 {
    font-size: 1.125rem;
  }
}

.ml-20 {
  padding-left: 20px;
}

#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601857-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601858-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601860-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601861-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601868-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601869-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601870-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601871-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601878-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601879-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601880-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601881-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf60188a-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf60188b-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601892-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf601893-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf60189a-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf60189b-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018a2-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018a3-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018aa-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018ab-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018b2-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018b3-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018bc-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018bd-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018c4-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018c5-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018cc-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018cd-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018d4-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018d5-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018dc-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018dd-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018e4-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fb1e10c-706b-8f8b-7db9-5a1bdf6018e5-df601845 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}