.section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.py-32.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.space-top-48px {
  margin-top: 48px;
}

.bg-yellow {
  background-color: var(--yellowMedium-02744336);
}

.py-52 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

.section.bg-blue-medium.py-60.hidde-now {
  display: none;
}

.bg-blue {
  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.125em;
  line-height: 1.222;
  font-weight: 500;
}

.section.bg-blue.py-52 {
  background-color: #020054;
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a99d0b_dark-gradient-hero.webp");
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 991px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.hidden {
  display: none;
}

.section.bg-blue.py-52.pb-0 {
  padding-bottom: 0rem;

  background-color: #020838;
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp"), url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a99d87_bg-dark-gradient.webp");
  background-position: 0px 0px, 100% 0%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.section.bg-blue.py-52.pb-0.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-blue-light {
  background-color: var(--blueLight-aa790ae4);
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bg-soft-blue {
  background-color: hsla(208.00000000000003, 62.50%, 90.59%, 1.00);
}

.p-12 {
  padding: 0.75rem;
}

.bg-soft-gray {
  background-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.section.py-24 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section.py-60 {
  font-family: var(--font);
  color: var(--blue-medium);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .section.py-60 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.hide {
  display: none;
}

.section.py-60.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.py-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section.slider-hero {
  display: flex;
  max-height: 620px;
}

.slider-hero {
  min-height: 620px;
  background-color: transparent;
}

.relative {
  position: relative;
}

.mb-32 {
  margin-bottom: 32px;
}

.section.product-hero {
  display: flex;
  min-height: auto;
  clear: both;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .section.product-hero {
    min-height: auto;
    flex-wrap: wrap;
  }
}

.section.hidden {
  display: none;
}

.section.pop-menu {
  position: sticky;
  top: 90px;
  z-index: 998;

  display: block;

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  color: var(--white-2556bf0f);
}

.section.pop-menu.hidden {
  display: none;
}

.section.lp-bg-mesh {
  background-color: hsla(241.42857142857142, 100.00%, 16.47%, 1.00);
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .section.lp-bg-mesh {
    background-position: 100% 0%;
  }
}

.section.lp-bg-mesh.pt-32 {
  padding-top: 3.1rem;
}

.mask-w1150max {
  max-width: 1150px;
}

.section.mask-w1150max.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.section.bg-blue-black-gradient {
  background-image: linear-gradient(180deg, var(--blue-dark), var(--black));
}

.space-top-80px {
  margin-top: 80px;
}

.section.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient {
    background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a591_HeroBcg.webp");
  }
}

@media screen and (max-width: 767px) {
  .section.background-gradient {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (max-width: 767px) {
  .section.background-gradient-2 {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a4a2_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient-2 {
    background-image: url("https://cdn.prod.website-files.com/68d3fbd55d90bfdc11a99444/68d3fbd55d90bfdc11a9a591_HeroBcg.webp");
  }
}

@media screen and (max-width: 991px) {
  .section.background-gradient-2 {
    background-size: cover;
  }
}

.section.hide-on-english {
  display: none;
}

.section.hide-on-english:lang(ko) {
  display: block;
}

.container {
  display: block;
  overflow: visible;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 1rem;
  align-items: center;
  flex: 0 auto;

  color: var(--black-ee558e2a);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

.container:lang(ko) {
  font-size: 120%;
}

@media screen and (max-width: 767px) {
  .container {
    object-fit: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}

.px-0 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  align-self: auto;
  order: 0;
  flex: 0 auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.container.py-32.yellow-border {
  border-top-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.yellow-border {
  border-top: 5px solid var(--yellowMedium-02744336);
}

.container.relative {
  z-index: 4;
}

.centered-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .centered-container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.container.py-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

@media screen and (max-width: 767px) {
  .container.py-60.mobile-positioning {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.text-blue-medium-2 {
  color: hsla(215.625, 88.89%, 57.65%, 1.00);
}

.line-height-1-3 {
  line-height: 1.333;
}

.text-center {
  text-align: center;
}

.text-blue-dark {
  color: var(--blueDark-7dc5601b);
  text-decoration: none;
}

.text-blue-dark.text-center {
  font-weight: 700;
}

.mt-0 {
  margin-top: 0px;
}

.pb-60 {
  margin-bottom: 60px;
}

.mb-48 {
  margin-bottom: 3rem;
}

.text-blue-dark.mb-24 {
  display: block;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-blue-dark.text-18 {
  padding-right: 20px;
  padding-left: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.text-blue-dark.mt-0 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width: 479px) {
  .text-blue-dark.mt-0 {
    font-size: 2.5rem;
  }
}

.text-blue-dark.mt-0.width-90 {
  font-size: 3.5rem;
  line-height: 1.1;
}

@media screen and (max-width: 479px) {
  .text-blue-dark.mt-0.width-90 {
    font-size: 2.5rem;
  }
}

.width-90 {
  width: 90%;
}

.container-9 {
  display: block;
  max-width: 1100px;
  padding: 0px 1rem;
  align-items: center;
  flex: 0 auto;

  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-center.text-blue-dark {
  color: var(--blueDark-7dc5601b);
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.text-yellow {
  color: var(--yellowMedium-02744336);
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.uppercase {
  text-transform: uppercase;
}

.text-bold-700 {
  font-family: var(--font);
  font-weight: 700;
}

.text-center.text-blue-dark {
  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.intro-body {
  font-family: Montserrat, sans-serif;
  color: var(--white-2556bf0f);
  font-size: 1.5rem;
  line-height: 1.35;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .intro-body {
    font-size: 1.125rem;
  }
}

.text-center.mb-48.text-blue-dark.mt-10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  .mt-10 {
    grid-template-columns: 1fr;
  }
}

.text-24 {
  font-size: 1.5rem;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.leadership-block {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .leadership-block {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .leadership-block {
    display: block;
  }
}

.leadership-block.grayscale {
  overflow: hidden;
  filter: grayscale(50%);
  transition: max-height 400ms ease;
}

.leadership-block.grayscale:hover {
  filter: grayscale(0%);
  transform: translate(0px, 0px);
}

.grayscale {
  filter: grayscale(50%);
}

.text-left {
  text-align: left;
}

.team-info-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  text-align: left;
}

@media screen and (min-width: 1440px) {
  .team-info-modal {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .team-info-modal {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .team-info-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media screen and (max-width: 479px) {
  .team-info-modal {
    display: none;
  }
}

.team-info-block {
  position: relative;

  display: flex;
  overflow: auto;
  width: 50%;
  height: 80vh;
  max-width: 1000px;
  min-height: 80vh;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: white;

  text-align: left;
}

@media screen and (min-width: 1280px) {
  .team-info-block {
    height: 80vh;
    min-height: 80vh;
  }
}

@media screen and (max-width: 991px) {
  .team-info-block {
    width: 100%;
    height: 80vh;
    max-width: 740px;
  }
}

@media screen and (max-width: 767px) {
  .team-info-block {
    width: 90%;
    height: 70vh;
    min-height: 70vh;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
}

.text-block-10 {
  position: absolute;
  top: 0px;
  right: 0px;

  display: none;
  padding: 37px;

  cursor: pointer;
}

.leader-modal-image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: none;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .leader-modal-image {
    max-height: none;
    max-width: none;
    min-width: auto;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.text-block-11 {
  margin-bottom: 21px;
  font-weight: 700;
}

.paragraph-7 {
  text-align: center;
}

.leadership-overlay-block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding: 10px 14px 20px;

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 0.45);
}

.text-white-2 {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.button-yellow-border-small {
  padding: 3px 32px;
  border-style: solid;
  border-width: 3px;
  border-color: hsla(48, 92.59%, 62.94%, 1.00);
  background-color: hsla(48, 92.59%, 62.94%, 0.00);
}

@media screen and (max-width: 767px) {
  .button-yellow-border-small.text-white.text-decoration-none {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.text-decoration-none {
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .text-decoration-none {
    font-family: var(--font);
  }
}

.text-14 {
  font-size: 0.875em;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-14.text-blue.text-bold-700.uppercase.my-8.hide {
  display: block;
}

.text-14.text-white {
  font-family: var(--font);
  font-size: var(--paragraph-small);
  font-weight: 400;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.text-medium-500 {
  font-weight: 500;
}

.mt-32 {
  margin-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .mt-32 {
    margin-top: 2rem;
  }
}

.text-14.text-white {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}