.filter_form-wrapper {
  max-width: 100%;
  margin-bottom: 0rem;
  padding-top: 40px;
}

.filter_form {
  max-width: 100%;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.page-padding {
  padding-right: 0rem;
  padding-left: 0rem;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .page-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.column-11 {
  min-height: 50px;
  padding-bottom: 10px;

  border-style: none;
  border-width: 1px;
  border-color: hsla(110.00000000000004, 18.18%, 87.06%, 1.00);
  border-radius: 1px;

  background-color: var(--white-2556bf0f);
}

.filter_block {
  position: relative;

  display: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-bottom: 1px solid hsla(0, 0.00%, 87.33%, 1.00);
}

.filter_block-header {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;

  display: grid;
  padding: 1rem 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_block-header {
    padding-left: 1rem;
    align-items: start;
  }
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .heading-small {
    font-size: 1rem;
  }
}

.heading-small.heading-h3-size {
  letter-spacing: normal;
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.filter_reset {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid hsla(109.99999999999999, 18.32%, 86.94%, 1.00);
  color: hsla(0, 0.00%, 43.33%, 1.00);
  text-decoration: none;
}

.filter_options {
  position: relative;

  overflow: auto;
  max-height: 30rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.dropdown-filter {
  display: none;
}

.filter_block-2 {
  position: relative;

  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border: 1px solid var(--blueMedium-239dc91f);

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.filter_options-2 {
  position: relative;

  overflow: auto;
  max-height: 15rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1rem;

  border: 0px none black;

  background-color: hsla(0, 0.00%, 95.29%, 1.00);
}

.filter-select {
  margin-bottom: 20px;
  padding-right: 2rem;
  padding-left: 1rem;

  border: 1px solid var(--blueMedium-239dc91f);

  background-color: var(--white-2556bf0f);
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/625d844a1e7c9c000a29f9a7_ARROW.svg");
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;

  font-size: 1rem;

  cursor: pointer;
}

.text-12 {
  font-size: 0.75rem;
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.filter-select.text-12.text-bold-700.letter-spacing-1.text-blue-medium {
  background-position: 96% 50%;
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .filter-select.text-12.text-bold-700.letter-spacing-1.text-blue-medium.uppercase.ml-0 {
    margin-left: 0px;
  }
}

.filter_header {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_header {
    padding-top: 0px;
    padding-bottom: 0rem;
    padding-left: 16px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .filter_header {
    padding-left: 0px;
  }
}

.filter_search-field {
  margin-bottom: 0px;
  padding: 10px 18px 10px 50px;

  border: 1px solid var(--blueMedium-239dc91f);

  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6262b5ac92f0fa0b71597ca0_SEARCH%20ICON.svg");
  background-position: 10px 50%;
  background-size: auto;
  background-repeat: no-repeat;

  color: var(--blueMedium-239dc91f);
  font-size: 1rem;
}

.container-6 {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.filter_grid {
  display: block;
  align-items: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .filter_grid {
    grid-template-columns: 0.66fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .filter_grid {
    grid-template-columns: 1fr;
  }
}

.filter_column {
  display: none;

  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 87.33%, 1.00);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.filter_content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.content_filter.width-900 {
  max-width: 900px;
}

.bg-gray {
  display: block;
  margin-bottom: 20px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-color: hsla(210, 5.56%, 92.94%, 1.00);
}

.width-100 {
  width: 100%;
}

.image-4 {
  display: inline-block;
  max-width: 100%;
}

.p-20 {
  padding: 1.25rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.content_card-header {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .content_card-header {
    align-items: flex-start;
  }
}

.content_card-info-block {
  display: block;
  justify-items: start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.content_card-info-label {
  display: none;
  font-size: 0.875rem;
  font-weight: 500;
}

.content_card-info-text {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0rem;
  background-color: transparent;
  font-size: 0.875rem;
}

@media screen and (max-width: 991px) {
  .content_card-info-text {
    width: 100%;
  }
}

.text-blue-medium-2 {
  color: hsla(215.625, 88.89%, 57.65%, 1.00);
}

.line-height-1-3 {
  line-height: 1.333;
}

.text-center {
  text-align: center;
}

.link-2 {
  font-size: 80%;
}

.image-5 {
  max-width: 60%;
  margin-top: 10px;
}

.heading-14 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-5 {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
}

.filter_empty {
  display: block;
  width: 100%;
  max-width: 1150px;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 87.33%, 1.00);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .filter_empty {
    max-width: 1150px;
  }
}

.filter_empty.width-900 {
  width: 900px;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .filter_empty.width-900 {
    width: 100%;
  }
}

.filter_empty-icon {
  width: 5rem;
  margin-bottom: 0.5rem;
  filter: sepia(100%);
}

#w-node-_3a01f060-7840-bc61-4a38-b539b267a984-b267a951 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}