.section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.py-32.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.space-top-48px {
  margin-top: 48px;
}

.bg-yellow {
  background-color: var(--yellowMedium-02744336);
}

.py-52 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

.section.bg-blue-medium.py-60.hidde-now {
  display: none;
}

.bg-blue {
  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.125em;
  line-height: 1.222;
  font-weight: 500;
}

.section.bg-blue.py-52 {
  background-color: #020054;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/64ee3e30eb028cbd2524e639_dark-gradient-hero.webp");
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 991px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  .section.bg-blue.py-52 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.hidden {
  display: none;
}

.section.bg-blue.py-52.pb-0 {
  padding-bottom: 0rem;

  background-color: #020838;
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp"), url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/650b6bfd4fc9ec7bc1d6bd6d_bg-dark-gradient.webp");
  background-position: 0px 0px, 100% 0%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.section.bg-blue.py-52.pb-0.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-blue-light {
  background-color: var(--blueLight-aa790ae4);
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bg-soft-blue {
  background-color: hsla(208.00000000000003, 62.50%, 90.59%, 1.00);
}

.p-12 {
  padding: 0.75rem;
}

.bg-soft-gray {
  background-color: hsla(240, 5.26%, 96.27%, 1.00);
}

.section.py-24 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section.py-60 {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-medium);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .section.py-60 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.hide {
  display: none;
}

.section.py-60.bg-f2faff-blue {
  background-color: hsla(203.07692307692312, 100.00%, 97.45%, 1.00);
}

.py-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section.slider-hero {
  display: flex;
  max-height: 620px;
}

.slider-hero {
  min-height: 620px;
  background-color: transparent;
}

.relative {
  position: relative;
}

.mb-32 {
  margin-bottom: 32px;
}

.section.product-hero {
  display: flex;
  min-height: auto;
  clear: both;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .section.product-hero {
    min-height: auto;
    flex-wrap: wrap;
  }
}

.section.hidden {
  display: none;
}

.section.pop-menu {
  position: sticky;
  top: 90px;
  z-index: 998;

  display: block;

  background-color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);

  color: var(--white-2556bf0f);
}

.section.pop-menu.hidden {
  display: none;
}

.section.lp-bg-mesh {
  background-color: hsla(241.42857142857142, 100.00%, 16.47%, 1.00);
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .section.lp-bg-mesh {
    background-position: 100% 0%;
  }
}

.section.lp-bg-mesh.pt-32 {
  padding-top: 3.1rem;
}

.mask-w1150max {
  max-width: 1150px;
}

.section.mask-w1150max.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.section.bg-blue-black-gradient {
  background-image: linear-gradient(180deg, var(--blue-dark), var(--black));
}

.space-top-80px {
  margin-top: 80px;
}

.section.background-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 767px) {
  .section.background-gradient {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (max-width: 767px) {
  .section.background-gradient-2 {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.background-gradient-2 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/679cba2b00faba7025a77942_Navy-magenta-hero-content-half.webp");
  background-position: 0px 0px;
  background-size: auto;
}

@media screen and (min-width: 1280px) {
  .section.background-gradient-2 {
    background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/682c3a21c16808bc689fbd34_HeroBcg.webp");
  }
}

@media screen and (max-width: 991px) {
  .section.background-gradient-2 {
    background-size: cover;
  }
}

.section.hide-on-english {
  display: none;
}

.section.hide-on-english:lang(ko) {
  display: block;
}

.container-2 {
  display: block;
  max-width: 1150px;
  padding: 0px 1rem;
  align-items: center;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-center {
  text-align: center;
}

.text-center.text-blue-dark {
  color: var(--blueDark-7dc5601b);
}

.text-blue-dark {
  color: var(--blueDark-7dc5601b);
  text-decoration: none;
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.text-yellow {
  color: var(--yellowMedium-02744336);
}

.text-blue-medium {
  color: var(--blueMedium-239dc91f);
}

.uppercase {
  text-transform: uppercase;
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.text-white {
  color: var(--white-2556bf0f);
  font-size: var(--paragraph);
  text-decoration: none;
}

.text-center.text-blue-dark {
  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
}

.text-center.text-blue-dark.mb-16 {
  margin-bottom: 1rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.intro-body {
  font-family: Montserrat, sans-serif;
  color: var(--white-2556bf0f);
  font-size: 1.5rem;
  line-height: 1.35;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .intro-body {
    font-size: 1.125rem;
  }
}

.text-center.mb-48.text-blue-dark.mt-10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  .mt-10 {
    grid-template-columns: 1fr;
  }
}

.text-24 {
  font-size: 1.5rem;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.text-blue-dark-2 {
  color: hsla(234.7826086956522, 100.00%, 22.55%, 1.00);
}

.pb-24 {
  padding-bottom: 24px;
}

.tabs-partners.space-top-48px {
  max-width: 1150px;
}

@media screen and (max-width: 479px) {
  .tabs-partners.space-top-48px {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.partner-tab-content {
  overflow: visible;
}

.grid-18 {
  justify-items: center;
  align-items: start;
  grid-column-gap: 67px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid-18 {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-18 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

.tooltip-container {
  position: relative;
  top: 0px;
  bottom: 0px;

  display: flex;
  width: 100%;
  height: 180px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .tooltip-container {
    height: auto;
    max-height: 150px;
    max-width: 100px;
  }
}

.tooltip-container.relative {
  text-align: center;
  object-fit: fill;
}

.partner-tooltip-wrapper {
  position: relative;
  left: 45%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  min-width: 200px;
  margin-left: 0%;

  opacity: 0;

  transform: translate(-50%, -60%);
}

@media screen and (max-width: 991px) {
  .partner-tooltip-wrapper {
    z-index: 2;
    max-width: 200px;
    min-width: auto;
  }
}

@media screen and (max-width: 767px) {
  .partner-tooltip-wrapper {
    max-width: 100px;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .partner-tooltip-wrapper {
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;

    max-height: 100px;
    min-height: auto;
  }
}

.partner-tooltip-2 {
  box-shadow: 0 0 6px 1px hsla(0, 0.00%, 0.00%, 0.30);
}

.partner-tooltip-2.bg-yellow.p-16 {
  background-color: var(--white-2556bf0f);
  font-family: var(--montserrat-uploaded);
  color: var(--blue-medium);
}

.p-16 {
  padding: 1rem;
}

.partner-tooltip-2.bg-yellow.p-16.text-medium-500 {
  box-shadow: 0 2px 8px -6px var(--partner-tooltip);
}

.text-medium-500 {
  font-weight: 500;
}

.img-partner {
  position: relative;
  z-index: 2;
}

#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b49-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b53-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b54-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b5d-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b5e-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c033eb00-588c-c989-1d27-81dce9db188d-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-c033eb00-588c-c989-1d27-81dce9db188e-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b67-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b68-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b71-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b72-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b7b-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b7c-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b85-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b86-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b8f-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-b987cf0c-6aea-30e9-e45c-2058e5830b90-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_97685e1f-63fc-f8a4-4832-f9b6c4ff5bb4-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-_97685e1f-63fc-f8a4-4832-f9b6c4ff5bb5-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6dbc8f00-516d-50bb-1a9f-27c4a6a4601d-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-_6dbc8f00-516d-50bb-1a9f-27c4a6a4601e-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_011374c3-082d-70c3-ec5c-e4d109cd66dc-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: auto;
}
#w-node-_011374c3-082d-70c3-ec5c-e4d109cd66dd-e5830b3e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}