.content {
  display: flex;
  width: auto;
  max-width: 1150px;
  margin-top: 0px;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .content {
    display: flex;
    margin-right: 0px;
    padding-top: 60px;
    padding-right: 16px;
    padding-bottom: 60px;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .content {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.content.bg-blue-medium {
  display: none;
}

@media screen and (max-width: 991px) {
  .content.bg-blue-medium {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .content.bg-blue-medium {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.bg-blue-medium {
  background-color: hsla(209.63855421686748, 98.42%, 49.61%, 1.00);
}

@media screen and (max-width: 767px) {
  .content.bg-blue-medium.is-centered {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .content.bg-blue-medium.is-centered {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.is-centered {
  display: none;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .is-centered {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content.align-center {
  align-items: center;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .content.align-center {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .content.align-center {
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content.align-center.padding-bottom-0 {
  padding-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .content.align-center.padding-bottom-0 {
    height: auto;
  }
}

.content.align-center.padding-bottom-0.padding-top-0 {
  padding-top: 0px;
}

.content.align-center.padding-top-0 {
  padding-top: 0px;
}

.py-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .content.align-center.mobile-slider {
    width: 480px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .content.align-center.mobile-slider {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.max-width-1150 {
  max-width: 1150px;
}

@media screen and (max-width: 991px) {
  .max-width-1150 {
    max-width: 800px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .max-width-1150 {
    width: 100%;
    max-width: 500px;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .max-width-1150 {
    width: 100%;
    max-width: 320px;
  }
}

.content.align-center.width-900 {
  max-width: 900px;
}

@media screen and (min-width: 1920px) {
  .content.align-center.max-width-1150 {
    max-width: 1150px;
  }
}

@media screen and (max-width: 991px) {
  .content.align-left {
    flex-direction: column;
    align-items: flex-start;
  }
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .align-left {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .content.align-left.align-vertical {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .content.align-left.align-vertical {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .align-vertical {
    width: auto;
  }
}

.content.align-vertical {
  max-width: 1150px;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .content.align-vertical {
    flex-direction: column;
    align-items: center;
  }
}

.content.align-vertical.align-center {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-center {
    align-items: center;
  }
}

.my-60 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-left {
    align-items: flex-start;
  }
}

.content.align-vertical.align-left.no-padding {
  padding-bottom: 0px;
}

.no-padding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.content.align-vertical.align-left.hidden {
  display: none;
}

.hidden {
  display: none;
}

.content.align-vertical.align-left.hidden.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.content.align-vertical.align-left.no-padding-desktop {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .content.align-vertical.align-left.no-padding-desktop {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.content.align-vertical.align-left.hide-element {
  display: none;
}

.space-top-80px {
  margin-top: 80px;
}

.content.align-vertical.hidden {
  display: none;
}

.content.align-vertical.no-padding-desktop {
  padding-right: 0px;
  padding-left: 0px;
}

.space-top-48px {
  margin-top: 48px;
}

.content.hidde-now {
  display: none;
}

.content.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .content.hidden {
    display: none;
  }
}

.content.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-0 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  align-self: auto;
  order: 0;
  flex: 0 auto;
}

.content.px-0.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

@media screen and (max-width: 479px) {
  .content.px-0.mx-16.align-center.mobile-padding-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .content.align-vertical-mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.align-vertical-mobile-only {
  display: flex;
}

@media screen and (max-width: 479px) {
  .align-vertical-mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.content.py-0.space-botom-80px {
  margin-bottom: 80px;
}

.content.space-top-0 {
  padding-top: 0px;
}

.space-top-0 {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .content.space-top-0.mobile-layout {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.space-top-0.mobile-layout.px-0 {
  padding-bottom: 0px;
}

.background-white {
  background-color: var(--white);
}

@media screen and (max-width: 991px) {
  .content.background-white.is-centered.flex-fill-container {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .content.background-white.is-centered.flex-fill-container.hide-element {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .content.background-white.is-centered.flex-fill-container.hide-element {
    display: none;
  }
}

.width-70 {
  width: 70%;
}

@media screen and (max-width: 991px) {
  .width-70 {
    display: block;
    width: 100%;
    align-items: flex-start;
  }
}

.content.width-70.align-center.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {
  .content.timeline-section {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .content.align-vertical-tablet---below {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .align-vertical-tablet---below {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.content.pb-0 {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .div-block-129 {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 991px) {
  .div-block-129.flex-fill-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .div-block-129.flex-fill-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .div-block-129.flex-fill-container.padding-0 {
    padding-right: 0%;
    padding-left: 0%;
  }
}

@media screen and (max-width: 991px) {
  .footer-width {
    display: flex;
    width: 100%;
    margin-right: 16px;
    margin-left: 16px;
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .footer-width {
    width: 90%;
    align-items: stretch;
  }
}

@media screen and (max-width: 991px) {
  .footer-width.is-centered {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .footer-width.is-centered {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .footer-width.is-centered.fill-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-width.is-centered.fill-container {
    width: 100%;
    max-width: 767px;
    align-items: stretch;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .footer-dropdown-new {
    z-index: 9;

    display: flex;
    width: auto;
    height: auto;
    max-height: none;
    margin: 0px 0px 16px;
    padding-top: 16px;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid var(--blue-dark);
  }
}

@media screen and (max-width: 767px) {
  .footer-dropdown-new {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .footer-dropdown-new {
    margin-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle-mobile {
    z-index: 9;

    width: 100%;
    height: 38px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-toggle-mobile {
    position: relative;

    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.no-padding.space-right-4px {
  margin-right: 4px;
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium {
  font-weight: 500;
  text-transform: none;
}

@media screen and (min-width: 1440px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    font-weight: 500;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium:hover {
  color: var(--blue-medium);
}

@media screen and (max-width: 991px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    padding-left: 16px;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium {
  font-weight: 500;
  text-transform: none;
}

@media screen and (min-width: 1440px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    font-weight: 500;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium:hover {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    padding-left: 16px;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium {
  font-weight: 500;
  text-transform: none;
}

@media screen and (min-width: 1440px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    font-weight: 500;
  }
}

.no-padding.space-right-4px.is-dark-blue.is-medium:hover {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .no-padding.space-right-4px.is-dark-blue.is-medium {
    padding-left: 16px;
  }
}

.is-bold {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .no-padding.space-right-4px.is-dark-blue.is-bold.h5-size {
    font-size: 0.875rem;
  }
}

.h5-size {
  margin-bottom: 10px;
  font-size: var(--h5);
  font-weight: 700;
  letter-spacing: 0px;
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

@media screen and (max-width: 991px) {
  .no-padding.space-right-4px.is-white.is-medium {
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .footer-dropdown-icon-new {
    margin-top: 4px;
    margin-bottom: 0px;
    color: var(--blue-dark);
  }
}

.dropdown-list-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .dropdown-list-mobile {
    position: static;
    display: none;
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

@media screen and (max-width: 991px) {
  .dropdown-list-mobile:global(.w--open) {
    background-color: hsla(0, 0.00%, 100.00%, 0.00);
  }
}

@media screen and (max-width: 991px) {
  .theme-mobile {
    margin-bottom: 16px;
    padding-left: 32px;
  }
}

.not-global:lang(zh) {
  display: none;
}

.not-global:lang(ja) {
  display: none;
}

.not-global:lang(ko) {
  display: none;
}

.not-global:lang(vi) {
  display: none;
}

.not-global:lang(id) {
  display: none;
}

.not-global:lang(de) {
  display: none;
}

.not-global:lang(fr) {
  display: none;
}

@media screen and (max-width: 991px) {
  .theme-mobile.not-global-en-ja:lang(ja) {
    display: block;
  }
}

.not-global-en-ja:lang(zh) {
  display: none;
}

.not-global-en-ja:lang(ko) {
  display: none;
}

.not-global-en-ja:lang(vi) {
  display: none;
}

.not-global-en-ja:lang(id) {
  display: none;
}

.not-global-en-ja:lang(de) {
  display: none;
}

.not-global-en-ja:lang(fr) {
  display: none;
}

@media screen and (max-width: 991px) {
  .menu-footer {
    width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .menu-footer {
    width: 100%;
  }
}

.clicable-links-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.clicable-links-pages:hover {
  color: var(--blue-medium);
}

.clicable-links-pages.space-top-8px {
  margin-top: 8px;
}

@media screen and (max-width: 991px) {
  .clicable-links-pages.space-top-16x {
    margin-top: 16px;
  }
}

.space-top-16px {
  margin-top: 16px;
}

.nav-bar-secondary-page {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: var(--blue-medium);
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: var(--blue-medium);
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px.space-top-8px {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold.link-hover:hover {
    color: var(--blue-dark);
    text-decoration: underline;
  }
}

.is-semibold {
  font-weight: 600;
}

.is-semibold:lang(ko) {
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-semibold.link-hover:hover {
    color: var(--blue-dark);
    text-decoration: underline;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

.nav-bar-secondary-page.is-dark-blue.pb-10 {
  padding-bottom: 10px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold.link-hover:hover {
    color: #000a73;
    text-decoration: underline;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px.space-top-8px {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-semibold.link-hover:hover {
    color: #000a73;
    text-decoration: underline;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px.is-bold {
    width: auto;
  }
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px {
  margin-right: 8px;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:hover {
  color: #3381f3;
}

.nav-bar-secondary-page.is-dark-blue.space-right-8px:active {
  color: #3381f3;
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-bar-secondary-page.is-dark-blue.space-right-8px {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar-secondary-page.is-dark-blue.is-bold.link-hover:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-secondary-page.is-white.space-right-8px {
    margin-right: 8px;
  }
}

@media screen and (max-width: 991px) {
  .footer-company-wrapper {
    display: flex;
    margin-bottom: 16px;
    padding-left: 32px;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
  }
}

.full-width {
  display: flex;
  width: 100%;
  max-width: 1150px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .full-width {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .full-width {
    width: 100%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .full-width.space-top-40px {
    margin-top: 40px;
  }
}

.full-width.space-top-48px {
  margin-top: 48px;
}

@media screen and (max-width: 479px) {
  .full-width.space-top-48px {
    margin-top: 40px;
  }
}

.full-width.align-center {
  align-items: center;
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .full-width.align-center {
    margin-top: 0px;
  }
}

.full-width.align-center.align-horizontal {
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .full-width.align-center.align-horizontal {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .full-width.align-center.mobile-spacing {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 479px) {
  .full-width.align-center.mobile-spacing {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.full-width.align-horizontal {
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .full-width.align-horizontal {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-horizontal.align-center {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-horizontal.align-center.banner-alignment {
    display: flex;
    justify-content: flex-start;
  }
}

.full-width.align-left.width-900 {
  width: auto;
}

@media screen and (min-width: 1920px) {
  .full-width.align-left.width-900 {
    width: 900px;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-left.width-900 {
    width: auto;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.full-width.space-bottom-24px.space-top-48px.grid-align-center {
  margin-right: auto;
  margin-left: auto;
}

.grid-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .grid-align-center {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .grid-align-center {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .grid-align-center {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.full-width.width-900 {
  max-width: 900px;
}

.full-width.mask-w1150max-3 {
  width: 1150px;
}

@media screen and (max-width: 991px) {
  .full-width.mask-w1150max-3 {
    width: 100%;
  }
}

.px-16 {
  padding-right: 1em;
  padding-left: 1em;
}

.align-center-vertical {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .full-width._1440-max-width {
    max-width: 1440px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.height-auto {
  height: auto;
}

@media screen and (max-width: 991px) {
  .full-width._1440-max-width.align-center {
    max-width: 100%;
  }
}

.px-5 {
  width: 100%;
  max-width: 1150px;
  padding-right: 5%;
  padding-left: 5%;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1280px) {
  .full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(fr) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(de) {
    margin-top: 24px;
  }
}

.full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(de) {
  margin-top: 0px;
}

.full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(fr) {
  margin-top: 0px;
}

.space-top-24px {
  margin: 24px 16px 16px;
}

@media screen and (max-width: 767px) {
  .full-width._1440-max-width.py-40-opt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .align-center-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .align-center-mobile {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.width-700 {
  width: 800px;
}

@media screen and (max-width: 991px) {
  .width-700 {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .width-700 {
    max-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .width-700 {
    max-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .full-width._1440-max-width-2 {
    max-width: 1440px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.full-width._1440-max-width-2.align-center-all {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .full-width._1440-max-width-2.align-center-all {
    align-items: center;
  }
}

.full-width.flex-child-align-right {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-child-align-right {
  align-self: flex-end;
}

.column-3x1 {
  display: grid;
  width: auto;
  max-width: 1150px;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1920px) {
  .column-3x1 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1 {
    justify-content: start;
    justify-items: end;
    align-content: start;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1 {
    width: auto;
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.column-3x1.space-top-48px {
  width: auto;
  margin-top: 48px;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px {
    justify-items: stretch;
  }
}

.column-3x1.space-top-48px:lang(ja) {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px {
    width: auto;
    margin-top: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px {
    max-width: none;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    justify-items: stretch;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.column-3x1.space-top-48px.space-bottom-28px {
  width: auto;
  margin-bottom: 28px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px.no-padding {
    justify-items: start;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.no-padding {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.space-left-32px {
  margin-left: 32px;
  padding-left: 0px;
}

.column-3x1.space-top-48px.space-left-32px.space-right-32 {
  margin-right: 32px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .px-20 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.column-3x1.space-top-48px.px-20.gap-64 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.column-3x1.space-top-48px.gap-16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-row-gap: 46px;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-template-rows: auto;
  }
}

.column-3x1.gap-24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.column-3x1.gap-24.space-top-48px.space-bottom-40px:lang(ja) {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 767px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 440px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 288px;
  }
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-16px {
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1.align-center-text {
    justify-items: center;
  }
}

.align-center-text {
  text-align: center;
}

.column-3x1.vertical-gap-adjust {
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.flex-stretch {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.flex-stretch {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.flex-stretch {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.column-3x1.careers-values-collage {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.footer-privacy-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .footer-privacy-wrapper {
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

@media screen and (max-width: 479px) {
  .footer-privacy-wrapper {
    justify-content: center;
    align-items: center;
  }
}

.html-embed-footer {
  font-family: var(--montserrat-uploaded);
  color: var(--white);
  font-size: var(--paragraph-small);
}

.footer-link-new {
  margin-bottom: 8px;
  color: var(--blue-dark);
  font-size: var(--h5);
  font-weight: 600;
  text-decoration: none;
}

.footer-link-new:hover {
  text-decoration: underline;
}

.html-embed-footer.footer-link-new.is-dark-blue {
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .html-embed-footer.footer-link-new.is-dark-blue.is-bold.py-0 {
    margin-bottom: 0px;
  }
}

.footer-copyright {
  width: 250px;
  font-family: var(--montserrat-uploaded);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .footer-copyright {
    text-align: center;
  }
}

.social-media-new {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (min-width: 1920px) {
  .social-media-new {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .social-media-new {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .social-media-new {
    justify-content: center;
  }
}

.link-block-social-media {
  width: 32px;
  height: 32px;
}

.link-block-social-media.space-right-8px {
  margin-right: 8px;
}

.button-primary {
  display: flex;
  width: auto;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border: 1px solid #3381f3;
  border-radius: 0px;

  background-color: #3381f3;

  box-shadow: 6px 6px 16px 0 hsla(0, 0.00%, 20.00%, 0.10);

  transition: transform 400ms ease,border-color 400ms ease,background-color 400ms ease;

  font-family: var(--montserrat-uploaded-2);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: var(--h5);
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.8px;
  text-decoration: none;
  -webkit-text-stroke-color: #3381f3;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .button-primary {
    width: auto;
  }
}

.button-primary:hover {
  border-color: #020b6e;
  background-color: #020b6e;
  transform: translate(0px, -1.5px);
}

@media screen and (max-width: 991px) {
  .button-primary {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button-primary {
    width: 100%;
  }
}

.button-primary.b-hover-dark-blue {
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-primary.outlined {
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: var(--blue-light);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined.b-hover-white {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-primary.outlined.b-hover-blue:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined.b-hover-dark-blue {
  padding-top: 12px;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined.b-hover-dark-blue {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined.b-hover-dark-blue:hover {
  border-color: #020b6e;
  background-color: #020b6e;
}

.button-primary.b-hover-white {
  flex-direction: column;
}

.button-primary.b-hover-white:hover {
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: #020b6e;
  -webkit-text-stroke-color: #020b6e;
}

.button-primary.space-top-40px {
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .button-primary.space-top-40px {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .button-primary.space-top-40px {
    margin-top: 20px;
  }
}

.button-primary.space-top-16px {
  margin-top: 16px;
}

.button-primary.space-top-28px {
  margin-top: 28px;
}

.button-primary.outlined-nobg {
  border-color: var(--blue-medium);
  background-color: var(--white);
  color: var(--blue-medium);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg {
    border-color: var(--blue-medium);
    background-color: var(--white);
    color: var(--blue-medium);
  }
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined-nobg {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined-nobg:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined-nobg.b-hover-blue2 {
  height: 38px;
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg.b-hover-blue2 {
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg.b-hover-blue2:hover {
    color: var(--white);
  }
}

.button-primary.outlined-nobg.b-hover-blue2:hover {
  height: 38px;
  border-color: #3381f3;
  background-color: #3381f3;
  color: var(--white);
}

.button-primary.button-orange {
  border-color: #fcaf07;
  background-color: #fcaf07;
  color: var(--blue-dark);
}

.button-orange {
  border-style: solid;
  border-width: 3px;
  border-color: hsla(48, 92.59%, 62.94%, 1.00);

  background-color: hsla(48, 92.59%, 62.94%, 1.00);

  color: hsla(0, 0.00%, 0.00%, 1.00);
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button-primary.button-orange.hidden {
  display: none;
}

.button-primary.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-dark {
  background-color: hsla(241.99999999999997, 100.00%, 23.53%, 1.00);
}

@media screen and (max-width: 991px) {
  .bg-blue-dark {
    background-color: var(--blue-dark);
  }
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.space-right-16px {
  margin-right: 16px;
}

.button-primary.bg-purple {
  border-color: var(--pink);
  background-color: var(--pink);
  -webkit-text-stroke-color: var(--pink);
}

@media screen and (min-width: 1440px) {
  .button-primary.bg-purple {
    border-color: var(--pink);
  }
}

.button-primary.bg-purple:hover {
  border-color: var(--bright-blue);
  background-color: var(--bright-blue);
  -webkit-text-stroke-color: var(--bright-blue);
}

.button-primary.bg-bright-blue {
  border-color: var(--bright-blue);
  background-color: var(--bright-blue);
}

.space-top-24 {
  margin-top: 24px;
}

.button-text-secondary-white-text-2 {
  max-width: 65ch;

  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.8px;
}

@media screen and (max-width: 479px) {
  .button-text-secondary-white-text-2 {
    display: block;
  }
}

.button-icon-2 {
  margin-left: 10px;
}

#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8af-3d28a861 {
}
#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8b2-3d28a861 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8b4-3d28a861 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8b6-3d28a861 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8b8-3d28a861 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8ba-3d28a861 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f4dcf613-9b09-fc68-804a-6105289cee5f-3d28a861 {
  justify-self: start;
  align-self: center;
}
#w-node-f4dcf613-9b09-fc68-804a-6105289cee60-3d28a861 {
}
@media screen and (max-width: 991px) {
  #w-node-_12c2df38-e0ff-a436-4a58-c38a3d28a8af-3d28a861 {
  }
  #w-node-f4dcf613-9b09-fc68-804a-6105289cee5f-3d28a861 {
    justify-self: end;
  }
}