.footer-div-new {
  position: relative;

  display: flex;
  width: 100vw;
  max-width: 100vw;
  padding: 40px 30px 20px;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid hsla(212.00000000000006, 38.46%, 92.35%, 1.00);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1280px) {
  .footer-div-new {
    width: 100vw;
    max-width: 100vw;
  }
}

@media screen and (max-width: 991px) {
  .footer-div-new {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-div-new {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer-div-new.hide-element {
  display: none;
}

.footer-wrapper-new {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .footer-wrapper-new {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.column-3x1 {
  display: grid;
  width: auto;
  max-width: 1150px;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1920px) {
  .column-3x1 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1 {
    justify-content: start;
    justify-items: end;
    align-content: start;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1 {
    width: auto;
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.column-3x1.space-top-48px {
  width: auto;
  margin-top: 48px;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px {
    justify-items: stretch;
  }
}

.column-3x1.space-top-48px:lang(ja) {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px {
    width: auto;
    margin-top: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px {
    max-width: none;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    justify-items: stretch;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.space-top-48px {
  margin-top: 48px;
}

.column-3x1.space-top-48px.space-bottom-28px {
  width: auto;
  margin-bottom: 28px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.space-bottom-28px {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-48px.no-padding {
    justify-items: start;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.space-top-48px.no-padding {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.no-padding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.space-left-32px {
  margin-left: 32px;
  padding-left: 0px;
}

.column-3x1.space-top-48px.space-left-32px.space-right-32 {
  margin-right: 32px;
}

.space-bottom-24px {
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .px-20 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.column-3x1.space-top-48px.px-20.gap-64 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.column-3x1.space-top-48px.gap-16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-row-gap: 46px;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.space-top-48px.gap-16px.mobile-spacing-what-we-do-today {
    grid-template-rows: auto;
  }
}

.column-3x1.gap-24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.column-3x1.gap-24.space-top-48px.space-bottom-40px:lang(ja) {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.space-top-80px {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 440px;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.gap-24.space-top-80px.microsite-card-container {
    width: 288px;
  }
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 1280px) {
  .column-3x1.space-top-16px {
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
  }
}

.space-top-16px {
  margin-top: 16px;
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .column-3x1.align-center-text {
    justify-items: center;
  }
}

.align-center-text {
  text-align: center;
}

.column-3x1.vertical-gap-adjust {
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .column-3x1.flex-stretch {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .column-3x1.flex-stretch {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .column-3x1.flex-stretch {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.column-3x1.careers-values-collage {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (min-width: 1280px) {
  .div-block-135 {
    width: 100%;
  }
}

.moloco-logo {
  width: 155px;
  height: 68px;
  max-width: 100%;
  margin-right: 32px;
}

@media screen and (min-width: 1440px) {
  .moloco-logo {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .moloco-logo {
    object-fit: contain;
  }
}

.moloco-logo.no-padding {
  margin-right: 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.my-36 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.space-top-24 {
  margin-top: 24px;
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

.is-dark-blue.space-bottom-40px {
  margin-bottom: 40px;
}

.is-dark-blue.space-bottom-40px.align-center {
  text-align: center;
}

.is-bold {
  font-weight: 700;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-16 {
  padding-right: 1em;
  padding-left: 1em;
}

.is-dark-blue.is-bold.py-20.px-16.space-bottom-24px.max-width-550 {
  max-width: 700px;
}

.max-width-550 {
  max-width: 550px;
  margin-right: 32px;
  margin-left: 32px;
}

@media screen and (max-width: 479px) {
  .max-width-550 {
    max-width: 660%;
    margin-right: 16px;
    margin-left: 16px;
  }
}

.heading-h4-size {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: var(--h4);
  font-weight: 600;
  letter-spacing: 0px;
}

@media screen and (min-width: 1920px) {
  .heading-h4-size {
    font-family: var(--montserrat-uploaded);
    font-size: var(--h4);
  }
}

@media screen and (max-width: 767px) {
  .heading-h4-size {
    line-height: 1.35;
  }
}

.is-dark-blue.is-bold.py-20.px-16.heading-h4-size-2-2 {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

.is-dark-blue.is-bold.py-20.px-16.dropdown-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width: 991px) {
  .is-dark-blue.is-bold.py-20.px-16.dropdown-title {
    font-size: 1rem;
  }
}

.is-dark-blue.is-bold.py-20.heading-h4-size {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

.space-right-16px {
  margin-right: 16px;
}

.is-dark-blue.is-bold.space-right-32 {
  margin-right: 32px;
}

.is-dark-blue.is-bold.space-right-32.heading-h4-size-2-2 {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

.is-dark-blue.is-bold.space-right-32.dropdown-title {
  font-size: var(--h4);
  font-weight: 700;
  text-transform: none;
}

.is-dark-blue.is-bold.space-right-32.dropdown-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width: 991px) {
  .is-dark-blue.is-bold.space-right-32.dropdown-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .is-dark-blue.is-bold.space-top-16px.align-center.hide-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }
}

.is-dark-blue.is-bold.space-top-16px.align-center.hide-on-mobile.heading-h4-size-2-2 {
  font-size: var(--h4);
}

.is-dark-blue.is-bold.space-top-16px.align-center.hide-on-mobile.heading-h4-size-2-2.bold-no-caps {
  margin-bottom: 0px;
  font-weight: 700;
  text-transform: none;
}

.align-left-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.align-left-flex:lang(ko) {
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .align-left-flex {
    align-self: flex-start;
  }
}

.text-left {
  text-align: left;
}

.is-dark-blue.is-bold.heading-h3-size {
  line-height: 1.35;
  letter-spacing: 0px;
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.is-dark-blue.align-center {
  text-align: center;
}

.is-semibold {
  font-weight: 600;
}

.is-semibold:lang(ko) {
  color: var(--blue-dark);
}

.is-dark-blue.semi-bold {
  font-weight: 600;
}

.semi-bold {
  color: var(--blue-dark);
  font-weight: 400;
}

.semi-bold:hover {
  font-weight: 500;
}

.large-paragraph {
  font-family: var(--montserrat-uploaded-2);
}

@media screen and (max-width: 991px) {
  .large-paragraph {
    width: 100%;
  }
}

.is-dark-blue.is-semibold:lang(ja) {
  font-size: var(--paragraph);
}

.is-dark-blue.is-semibold:lang(zh) {
  word-break: keep-all;
}

.is-dark-blue.is-semibold:lang(ko) {
  word-break: keep-all;
}

.small-paragraph-h6-size {
  font-size: var(--h6);
  font-weight: 700;
  letter-spacing: normal;
}

.is-dark-blue.is-semibold.small-paragraph-h6-size.space-right-8px {
  margin-right: 8px;
}

.button-text {
  max-width: 65ch;

  font-family: var(--montserrat-uploaded);
  color: var(--white);
  font-size: var(--h5);
  font-weight: 500;
  letter-spacing: 1.8px;
}

@media screen and (min-width: 1280px) {
  .button-text {
    color: var(--white);
  }
}

.button-text:lang(de) {
  max-width: 200ch;
}

@media screen and (max-width: 479px) {
  .button-text {
    display: block;
  }
}

.is-dark-blue.is-semibold.h2-smaller {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .is-dark-blue.is-semibold.h2-smaller {
    font-size: 1.8rem;
  }
}

.h2-smaller {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-dark);
  font-size: 2rem;
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text-align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .is-dark-blue.is-semibold.h2-smaller.text-align-center {
    text-align: center;
  }
}

.space-bottom-16px {
  margin-bottom: 16px;
}

.is-dark-blue.is-semibold.h2-size {
  font-size: 2.4rem;
  font-weight: 600;
}

.h2-size {
  font-size: var(--h2);
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .h2-size {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 767px) {
  .h2-size {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 479px) {
  .h2-size {
    font-size: 2.1rem;
  }
}

.is-dark-blue.is-semibold.space-right-8px {
  margin-right: 8px;
}

.is-dark-blue.is-semibold.width-900 {
  width: 900px;
}

@media screen and (max-width: 991px) {
  .is-dark-blue.is-semibold.width-900 {
    width: auto;
  }
}

.h1-large {
  font-size: var(--large-h1);
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .h1-large {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 767px) {
  .h1-large {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .h1-large {
    font-size: 2rem;
  }
}

.is-dark-blue.small-paragraph-h6-size.space-left-8px {
  margin-left: 8px;
}

.py-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.h4 {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 700;
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .align-left {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .is-dark-blue.align-left.is-semibold.space-bottom-24px.align-center-mobile {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .align-center-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .align-center-mobile {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .is-dark-blue.h2-smaller {
    line-height: 1.2;
  }
}

.footer-link-new {
  margin-bottom: 8px;
  color: var(--blue-dark);
  font-size: var(--h5);
  font-weight: 600;
  text-decoration: none;
}

.footer-link-new:hover {
  text-decoration: underline;
}

.footer-link-new.is-bold {
  font-weight: 700;
}

.footer-container-2 {
  display: flex;
  margin-top: 36px;
  flex-direction: column;
}

.html-embed-footer {
  font-family: var(--montserrat-uploaded);
  color: var(--white);
  font-size: var(--paragraph-small);
}

.html-embed-footer.footer-link-new.is-dark-blue {
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .html-embed-footer.footer-link-new.is-dark-blue.is-bold.py-0 {
    margin-bottom: 0px;
  }
}

.div-block-138 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-copyright {
  width: 250px;
  font-family: var(--montserrat-uploaded);
  font-size: var(--h6);
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .footer-copyright {
    text-align: center;
  }
}

.div-block-139 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .div-block-139 {
    justify-content: space-between;
    align-items: center;
  }
}

.social-media-new {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (min-width: 1920px) {
  .social-media-new {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .social-media-new {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .social-media-new {
    justify-content: center;
  }
}

.link-block-social-media {
  width: 32px;
  height: 32px;
}

.link-block-social-media.space-right-8px {
  margin-right: 8px;
}

.button-primary {
  display: flex;
  width: auto;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border: 1px solid #3381f3;
  border-radius: 0px;

  background-color: #3381f3;

  box-shadow: 6px 6px 16px 0 hsla(0, 0.00%, 20.00%, 0.10);

  transition: transform 400ms ease,border-color 400ms ease,background-color 400ms ease;

  font-family: var(--montserrat-uploaded-2);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: var(--h5);
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.8px;
  text-decoration: none;
  -webkit-text-stroke-color: #3381f3;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .button-primary {
    width: auto;
  }
}

.button-primary:hover {
  border-color: #020b6e;
  background-color: #020b6e;
  transform: translate(0px, -1.5px);
}

@media screen and (max-width: 991px) {
  .button-primary {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button-primary {
    width: 100%;
  }
}

.button-primary.b-hover-dark-blue {
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-primary.outlined {
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: var(--blue-light);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined.b-hover-white {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-primary.outlined.b-hover-blue:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined.b-hover-dark-blue {
  padding-top: 12px;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined.b-hover-dark-blue {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined.b-hover-dark-blue:hover {
  border-color: #020b6e;
  background-color: #020b6e;
}

.button-primary.b-hover-white {
  flex-direction: column;
}

.button-primary.b-hover-white:hover {
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: #020b6e;
  -webkit-text-stroke-color: #020b6e;
}

.button-primary.space-top-40px {
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .button-primary.space-top-40px {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .button-primary.space-top-40px {
    margin-top: 20px;
  }
}

.button-primary.space-top-16px {
  margin-top: 16px;
}

.button-primary.space-top-28px {
  margin-top: 28px;
}

.button-primary.outlined-nobg {
  border-color: var(--blue-medium);
  background-color: var(--white);
  color: var(--blue-medium);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg {
    border-color: var(--blue-medium);
    background-color: var(--white);
    color: var(--blue-medium);
  }
}

@media screen and (min-width: 1280px) {
  .button-primary.outlined-nobg {
    background-color: var(--blue-light);
  }
}

.button-primary.outlined-nobg:hover {
  border-color: #3381f3;
  background-color: #3381f3;
}

.button-primary.outlined-nobg.b-hover-blue2 {
  height: 38px;
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg.b-hover-blue2 {
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .button-primary.outlined-nobg.b-hover-blue2:hover {
    color: var(--white);
  }
}

.button-primary.outlined-nobg.b-hover-blue2:hover {
  height: 38px;
  border-color: #3381f3;
  background-color: #3381f3;
  color: var(--white);
}

.button-primary.button-orange {
  border-color: #fcaf07;
  background-color: #fcaf07;
  color: var(--blue-dark);
}

.button-orange {
  border-style: solid;
  border-width: 3px;
  border-color: hsla(48, 92.59%, 62.94%, 1.00);

  background-color: hsla(48, 92.59%, 62.94%, 1.00);

  color: hsla(0, 0.00%, 0.00%, 1.00);
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button-primary.button-orange.hidden {
  display: none;
}

.hidden {
  display: none;
}

.button-primary.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-dark {
  background-color: hsla(241.99999999999997, 100.00%, 23.53%, 1.00);
}

@media screen and (max-width: 991px) {
  .bg-blue-dark {
    background-color: var(--blue-dark);
  }
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button-primary.bg-purple {
  border-color: var(--pink);
  background-color: var(--pink);
  -webkit-text-stroke-color: var(--pink);
}

@media screen and (min-width: 1440px) {
  .button-primary.bg-purple {
    border-color: var(--pink);
  }
}

.button-primary.bg-purple:hover {
  border-color: var(--bright-blue);
  background-color: var(--bright-blue);
  -webkit-text-stroke-color: var(--bright-blue);
}

.button-primary.bg-bright-blue {
  border-color: var(--bright-blue);
  background-color: var(--bright-blue);
}

.button-text-secondary-white-text-2 {
  max-width: 65ch;

  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.8px;
}

@media screen and (max-width: 479px) {
  .button-text-secondary-white-text-2 {
    display: block;
  }
}

.button-icon-2 {
  margin-left: 10px;
}

#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dca3-c1b7dc8f {
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd2-c1b7dc8f {
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd5-c1b7dc8f {
  justify-self: start;
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd6-c1b7dc8f {
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd8-c1b7dc8f {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcda-c1b7dc8f {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcdc-c1b7dc8f {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcde-c1b7dc8f {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_187b8e9f-7b29-7e98-0b3e-c05bd475efd7-c1b7dc8f {
  justify-self: start;
  align-self: center;
}
#w-node-_6de9857a-7b17-e1e4-c22f-471cf0b215ad-c1b7dc8f {
}
@media screen and (min-width: 1920px) {
  #w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd5-c1b7dc8f {
    justify-self: start;
  }
}
@media screen and (min-width: 1440px) {
  #w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd5-c1b7dc8f {
  }
}
@media screen and (max-width: 991px) {
  #w-node-f319d024-2a00-aee4-e61a-8d32c1b7dcd2-c1b7dc8f {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}