.line-divider {
  width: 100%;
  height: 0.5px;
  min-height: 0.5px;
  margin-top: 8px;
  margin-bottom: 8px;

  background-color: var(--blue-dark);
}

@media screen and (max-width: 479px) {
  .line-divider {
    height: 1px;
    min-height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #3381f3;
  }
}

.line-divider.mt-0 {
  margin-top: 0px;
}

.mt-0 {
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .line-divider.is-white {
    background-color: var(--white);
  }
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

.hide-on-desktop {
  display: none;
}

@media screen and (max-width: 991px) {
  .hide-on-desktop {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .line-divider.is-white.hide-on-desktop.hide-on-tablet {
    position: static;
    display: flex;
  }
}