.hero-section-div-relative-auto-height {
  position: relative;
  top: 0px;

  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1920px) {
  .hero-section-div-relative-auto-height {
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section-div-relative-auto-height {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
  }
}

.home-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/67ffa1db4361068ce1e8f68d_section.webp");
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section-div-relative-auto-height.hide-element {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.hero-section-div-relative-auto-height.overflow-hidden.background-grey {
  background-color: var(--gray-light);
}

.hero-section-div-relative-auto-height.sdk-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/68778d545756e37b40239df5_SDK-bcg_converted.avif");
}

@media screen and (max-width: 991px) {
  .hero-section-div-relative-auto-height.sdk-gradient {
    background-repeat: no-repeat;
  }
}

.sdk-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6851583b3c1f8e217a4209f0_For%20Publishers%20Moloco%20SDK.avif");
  background-position: 0% 0%;
  background-size: cover;
}

.home-gradient.py-60 {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/67ffa1db4361068ce1e8f68d_section.webp");
}

.home-gradient.py-60.mcm-newsletter-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/684be15bbd803e8097f08709_MCM%20CTA%20Bcg.webp");
}

.width-100 {
  width: 100%;
}

.home-gradient.width-100.align-vertical-center {
  display: flex;
  justify-content: center;
}

.home-gradient.width-100.align-center-vertical {
  display: flex;
}

.align-center-vertical {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .align-center-vertical {
    display: flex;
  }
}

.hero-content {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: hidden;
  width: 100vw;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .hero-content {
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content {
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    position: relative;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .hero-content {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;

    display: flex;
    height: auto;
    margin-top: 0px;
    padding-right: 0%;
    padding-left: 0%;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    display: flex;
    padding-top: 48px;
  }
}

@media screen and (max-width: 479px) {
  .hero-content {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 991px) {
  .hero-content.px-32 {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.hero-content.hide-element-desktop-tablet {
  display: none;
}

@media screen and (max-width: 991px) {
  .hero-content.hide-element-desktop-tablet {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-content.hide-element-desktop-tablet {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .hero-content.sdk-height {
    height: auto;
  }
}

.hero-content.mcm-hero {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .hero-content.mcm-hero {
    padding-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .hero-content.mcm-hero {
    padding-top: 40px;
  }
}

.max-width-700px {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .max-width-700px:lang(de) {
    max-width: 100%;
  }
}

.px-5 {
  width: 100%;
  max-width: 1150px;
  padding-right: 5%;
  padding-left: 5%;
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.px-5.flex-align-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .px-5.flex-align-center:lang(de) {
    padding-right: 0%;
    padding-left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .px-5.flex-align-center:lang(de) {
    padding-right: 2%;
    padding-left: 2%;
  }
}

.is-semibold {
  font-weight: 600;
}

.is-semibold:lang(ko) {
  color: var(--blue-dark);
}

.is-semibold.hide-underline {
  text-decoration: none;
}

.hide-underline {
  text-decoration: none;
}

.is-semibold.hide-underline.space-left-32px {
  margin-left: 32px;
  padding-left: 0px;
}

.space-left-32px {
  margin-left: 32px;
  padding-left: 0px;
}

.is-semibold.hide-underline.space-left-8px {
  margin-left: 8px;
  padding-left: 0px;
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.is-semibold.space-bottom-24px.appear-1-animate {
  display: flex;
}

.align-center-text {
  text-align: center;
}

.h2-smaller {
  font-family: var(--montserrat-uploaded);
  color: var(--blue-dark);
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .is-semibold.space-bottom-24px.text-align-center-mobile {
    text-align: center;
  }
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

.space-top-10px {
  margin-top: 10px;
}

.is-semibold.align-center-text.h2-smaller {
  font-family: var(--montserrat-uploaded-2);
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .is-semibold.align-center-text.h2-smaller {
    font-size: 1.8rem;
  }
}

.is-semibold.space-bottom-40px.h1-medium {
  font-size: 3.4rem;
}

.h2-size {
  font-size: var(--h2);
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .h2-size {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 767px) {
  .h2-size {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 479px) {
  .h2-size {
    font-size: 2.1rem;
  }
}

.is-semibold.space-bottom-40px.align-center-text.px-5.h2-size {
  font-size: 2.4rem;
}

.space-top-80px {
  margin-top: 80px;
}

.is-semibold.space-bottom-40px.space-top-80px.heading-h1-size {
  font-size: var(--h1);
}

@media screen and (max-width: 767px) {
  .is-semibold.space-bottom-40px.space-top-80px.heading-h1-size {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 479px) {
  .is-semibold.space-bottom-40px.space-top-80px.heading-h1-size {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 767px) {
  .is-semibold.space-bottom-40px.heading-h1-size {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 479px) {
  .is-semibold.space-bottom-40px.heading-h1-size {
    font-size: 2.25rem;
  }
}

.is-semibold.h2-smaller {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .is-semibold.h2-smaller.space-bottom-24px.is-white.mobile-center-text {
    text-align: center;
  }
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.is-semibold.h2-smaller.align-center-text.is-dark-blue:lang(zh) {
  font-size: 1.8rem;
}

.space-top-16px {
  margin-top: 16px;
}

.is-semibold.h1-size {
  font-size: var(--h1);
}

.body-text {
  font-size: 1rem;
}

.body-text {
  font-family: var(--montserrat-uploaded);
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.space-top-0 {
  margin-top: 0px;
}

.body-text.is-dark-blue.is-semibold.space-left-8px {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .body-text.is-dark-blue.is-semibold.space-left-8px {
    width: 120%;
  }
}

.is-bold {
  font-weight: 700;
}

.body-text.is-bold.space-bottom-0px {
  margin-bottom: 0px;
}

.body-text.is-white {
  font-family: var(--montserrat-uploaded-2);
}

.body-text.is-white.space-bottom-40px.font-25 {
  font-size: 1.3rem;
  font-weight: 600;
}

.pr-20 {
  padding-right: 20px;
}

.body-text.is-white.pr-20.white-border-right {
  border-right: 2px solid hsla(0, 0.00%, 100.00%, 1.00);
  text-decoration: none;
}

.body-text.is-white.pr-20.white-border-right.purple-hover:hover {
  color: var(--purple);
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .px-20 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.body-text.is-white.purple-hover {
  text-decoration: none;
}

.body-text.is-white.purple-hover:hover {
  color: var(--purple);
}

@media screen and (max-width: 991px) {
  .body-text.is-white.purple-hover.px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.body-text.is-white.purple-hover.px-20.white-border-white {
  border-right: 2px solid var(--white);
}

.space-bottom-16px {
  margin-bottom: 16px;
}

.body-text.is-white.font-light-italic {
  font-family: var(--montserrat-uploaded);
  font-weight: 200;
}

.body-text.is-white.font-light-italic.space-top-80px {
  font-family: var(--montserrat-uploaded);
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.body-text.is-white.font-25 {
  font-size: 1.3rem;
  font-weight: 600;
}

.content-1 {
  display: none;
}

.body-text.content-1.display-block {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .body-text.content-1.display-block {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.body-text.content-2 {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .body-text.content-2 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .body-text.content-2 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(de) {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(fr) {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(ja) {
    display: block;
  }
}

.content-2 {
  display: none;
}

.body-text.content-3 {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .body-text.content-3 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-3:lang(fr) {
    display: block;
  }
}

.content-3 {
  display: none;
}

.body-text.content-4 {
  display: none;
}

.body-text.content-4:lang(ja) {
  display: none;
}

.body-text.content-4:lang(fr) {
  display: none;
}

@media screen and (max-width: 767px) {
  .body-text.content-4 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-4 {
    display: none;
  }
}

.content-4 {
  display: none;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.body-text.content-5 {
  display: none;
}

.content-5 {
  display: none;
}

@media screen and (max-width: 767px) {
  .content-5 {
    display: flex;
  }
}

.space-top-24 {
  margin-top: 24px;
}

.body-text.content-5 {
  display: none;
}

.body-text.content-6 {
  display: none;
}

.body-text.content-7 {
  display: none;
}

.body-text.content-8 {
  display: none;
}

.body-text.content-9 {
  display: none;
}

.body-text.text-align-center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text-align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .body-text.mobile-text-align-center {
    text-align: center;
  }
}

.form-block-4-copy {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .form-block-4-copy {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .form-block-4-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.newsletter-form {
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (min-width: 1440px) {
  .newsletter-form {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter-form:lang(fr) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.newsletter-form:lang(fr) {
  margin-right: 0px;
  margin-left: 0px;
}

.newsletter-form:lang(de) {
  width: 700px;
  margin-right: 0px;
  margin-left: 0px;
}

.newsletter-form:lang(id) {
  width: 610px;
  margin-right: 0px;
  margin-left: 0px;
}

.newsletter-form:lang(vi) {
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .newsletter-form {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .newsletter-form:lang(id) {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .newsletter-form:lang(de) {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .newsletter-form {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .newsletter-form:lang(vi) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.field-label-3 {
  display: none;
  font-family: var(--montserrat-uploaded);
  color: var(--white);
}

.newsletter-email-field {
  height: 100%;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.newsletter-email-field:lang(de) {
  width: 510px;
}

@media screen and (max-width: 767px) {
  .newsletter-email-field:lang(de) {
    width: 100%;
  }
}

.subscribe-newsletter {
  padding: 15px 30px;

  background-color: var(--blue-2);

  transition: background-color 400ms ease,border-color 400ms ease,transform 400ms ease;

  font-family: var(--montserrat-uploaded);
  font-size: var(--h5);
  font-weight: 500;

  cursor: pointer;
}

.subscribe-newsletter:hover {
  background-color: var(--blue-2-hover);
}

#w-node-_2ef7b4af-faf9-331a-6d05-745903662f43-03662f40 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 767px) {
  #w-node-_2ef7b4af-faf9-331a-6d05-745903662f43-03662f40 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}