.hero-section-div-relative-auto-height {
  position: relative;
  top: 0px;

  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1920px) {
  .hero-section-div-relative-auto-height {
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section-div-relative-auto-height {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .hero-section-div-relative-auto-height {
    position: relative;
    top: 0px;
  }
}

.home-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/67ffa1db4361068ce1e8f68d_section.webp");
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section-div-relative-auto-height.hide-element {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.hero-section-div-relative-auto-height.overflow-hidden.background-grey {
  background-color: var(--gray-light);
}

.hero-section-div-relative-auto-height.sdk-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/68778d545756e37b40239df5_SDK-bcg_converted.avif");
}

@media screen and (max-width: 991px) {
  .hero-section-div-relative-auto-height.sdk-gradient {
    background-repeat: no-repeat;
  }
}

.sdk-gradient {
  background-image: url("https://cdn.prod.website-files.com/6237fca0466ffd9274a1dbdd/6851583b3c1f8e217a4209f0_For%20Publishers%20Moloco%20SDK.avif");
  background-position: 0% 0%;
  background-size: cover;
}

.full-width {
  display: flex;
  width: 100%;
  max-width: 1150px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .full-width {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .full-width {
    width: 100%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .full-width.space-top-40px {
    margin-top: 40px;
  }
}

.full-width.space-top-48px {
  margin-top: 48px;
}

@media screen and (max-width: 479px) {
  .full-width.space-top-48px {
    margin-top: 40px;
  }
}

.space-top-48px {
  margin-top: 48px;
}

.full-width.align-center {
  align-items: center;
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .full-width.align-center {
    margin-top: 0px;
  }
}

.align-center {
  display: flex;
  max-width: 1150px;
  flex-direction: column;
  align-items: center;
  align-self: center;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .align-center {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.full-width.align-center.align-horizontal {
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .full-width.align-center.align-horizontal {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .full-width.align-center.mobile-spacing {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 479px) {
  .full-width.align-center.mobile-spacing {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.full-width.align-horizontal {
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .full-width.align-horizontal {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-horizontal.align-center {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-horizontal.align-center.banner-alignment {
    display: flex;
    justify-content: flex-start;
  }
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .align-left {
    justify-content: flex-start;
    align-items: center;
  }
}

.full-width.align-left.width-900 {
  width: auto;
}

@media screen and (min-width: 1920px) {
  .full-width.align-left.width-900 {
    width: 900px;
  }
}

@media screen and (max-width: 991px) {
  .full-width.align-left.width-900 {
    width: auto;
  }
}

.space-bottom-24px {
  margin-bottom: 24px;
}

.full-width.space-bottom-24px.space-top-48px.grid-align-center {
  margin-right: auto;
  margin-left: auto;
}

.grid-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .grid-align-center {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .grid-align-center {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .grid-align-center {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.full-width.width-900 {
  max-width: 900px;
}

.full-width.mask-w1150max-3 {
  width: 1150px;
}

@media screen and (max-width: 991px) {
  .full-width.mask-w1150max-3 {
    width: 100%;
  }
}

.px-16 {
  padding-right: 1em;
  padding-left: 1em;
}

.align-center-vertical {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .align-center-vertical {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .full-width._1440-max-width {
    max-width: 1440px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.height-auto {
  height: auto;
}

@media screen and (max-width: 991px) {
  .full-width._1440-max-width.align-center {
    max-width: 100%;
  }
}

.px-5 {
  width: 100%;
  max-width: 1150px;
  padding-right: 5%;
  padding-left: 5%;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1280px) {
  .full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(fr) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(de) {
    margin-top: 24px;
  }
}

.full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(de) {
  margin-top: 0px;
}

.full-width._1440-max-width.space-bottom-40px.space-top-24px:lang(fr) {
  margin-top: 0px;
}

.space-top-24px {
  margin: 24px 16px 16px;
}

@media screen and (max-width: 767px) {
  .full-width._1440-max-width.py-40-opt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .align-center-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .align-center-mobile {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.width-700 {
  width: 800px;
}

@media screen and (max-width: 991px) {
  .width-700 {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .width-700 {
    max-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .width-700 {
    max-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .full-width._1440-max-width-2 {
    max-width: 1440px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.full-width._1440-max-width-2.align-center-all {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .full-width._1440-max-width-2.align-center-all {
    align-items: center;
  }
}

.full-width.flex-child-align-right {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-child-align-right {
  align-self: flex-end;
}

.client-quote-slider-old {
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .client-quote-slider-old {
    min-height: 400px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .client-quote-slider-old {
    min-height: 420px;
  }
}

@media screen and (max-width: 479px) {
  .client-quote-slider-old {
    min-height: 420px;
  }
}

@media screen and (max-width: 479px) {
  .client-quote-slider-old.bg-white {
    height: auto;
  }
}

.bg-white {
  display: block;
  flex-wrap: wrap;
  background-color: var(--white-2556bf0f);
}

.client-quote-slider-old.height-auto.bcg-transparent {
  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.client-quote-slider-old.bg-grey {
  background-color: var(--gray-light);
}

@media screen and (max-width: 479px) {
  .client-quote-slider-old.bg-grey {
    height: auto;
  }
}

.client-quote-slider-old.bg-light-gray {
  padding-left: 40px;
}

@media screen and (min-width: 1280px) {
  .client-quote-slider-old.bg-light-gray {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .client-quote-slider-old.bg-light-gray {
    padding-left: 0px;
  }
}

.bg-light-gray {
  padding: 40px 40px 40px 60px;
  flex: 0 auto;
  background-color: var(--grayLight-8402fb9c);
}

@media screen and (max-width: 767px) {
  .bg-light-gray {
    flex: 0 auto;
  }
}

.slider-mask-v3 {
  overflow: visible;
  height: auto;
  max-width: 90vw;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .slider-mask-v3 {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .slider-mask-v3 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 479px) {
  .slider-mask-v3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.slider-product-explanation {
  width: 60%;
  margin-right: 40px;
  box-shadow: -8px 0 30px 0 hsla(0, 0.00%, 0.00%, 0.10), 8px 5px 10px 0 hsla(0, 0.00%, 0.00%, 0.10);
}

@media screen and (min-width: 1920px) {
  .slider-product-explanation {
    box-shadow: 8px 5px 10px 0 hsla(0, 0.00%, 0.00%, 0.10), -8px 0 30px 0 hsla(0, 0.00%, 0.00%, 0.10);
  }
}

@media screen and (max-width: 991px) {
  .slider-product-explanation {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .slider-product-explanation {
    width: 80%;
  }
}

.slider-product-explanation.white-bg {
  background-color: var(--white);
}

.colored-spacer-dark-blue-curved {
  width: 100%;
  height: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .colored-spacer-dark-blue-curved {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .colored-spacer-dark-blue-curved {
    width: 100%;
  }
}

.slider-clients-content-v3 {
  display: flex;
  height: 420px;
  padding: 30px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 991px) {
  .slider-clients-content-v3 {
    padding: 32px 16px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .slider-clients-content-v3 {
    height: 490px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .slider-clients-content-v3 {
    height: 530px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.quote-slider-client-v4-right {
  display: flex;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .quote-slider-client-v4-right {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .quote-slider-client-v4-right {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .quote-slider-client-v4-right {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.heading-h3-size {
  font-family: var(--montserrat-uploaded);
  font-size: var(--h3);
  line-height: 1.35;
  letter-spacing: normal;
}

.is-bold {
  font-weight: 700;
}

.is-semibold {
  font-weight: 600;
}

.is-semibold:lang(ko) {
  color: var(--blue-dark);
}

.heading-h3-size.space-bottom-16px {
  margin-bottom: 16px;
}

.space-bottom-16px {
  margin-bottom: 16px;
}

.is-dark-blue {
  font-family: var(--montserrat-uploaded-2);
  color: var(--blue-dark);
}

@media screen and (max-width: 991px) {
  .is-dark-blue {
    width: 100%;
  }
}

.align-center-text {
  text-align: center;
}

.is-white {
  font-family: var(--montserrat-uploaded-2);
  color: var(--white);
  text-transform: none;
}

.is-white:lang(ko) {
  word-break: keep-all;
}

.body-text {
  font-size: 1rem;
}

.body-text {
  font-family: var(--montserrat-uploaded);
}

.text-bold-700 {
  font-family: var(--montserrat-uploaded);
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-blue {
  color: var(--blueDark-7dc5601b);
}

.space-top-0 {
  margin-top: 0px;
}

.body-text.is-dark-blue.is-semibold.space-left-8px {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .body-text.is-dark-blue.is-semibold.space-left-8px {
    width: 120%;
  }
}

.body-text.is-bold.space-bottom-0px {
  margin-bottom: 0px;
}

.body-text.is-white {
  font-family: var(--montserrat-uploaded-2);
}

.body-text.is-white.space-bottom-40px.font-25 {
  font-size: 1.3rem;
  font-weight: 600;
}

.pr-20 {
  padding-right: 20px;
}

.body-text.is-white.pr-20.white-border-right {
  border-right: 2px solid hsla(0, 0.00%, 100.00%, 1.00);
  text-decoration: none;
}

.body-text.is-white.pr-20.white-border-right.purple-hover:hover {
  color: var(--purple);
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .px-20 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.body-text.is-white.purple-hover {
  text-decoration: none;
}

.body-text.is-white.purple-hover:hover {
  color: var(--purple);
}

@media screen and (max-width: 991px) {
  .body-text.is-white.purple-hover.px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.body-text.is-white.purple-hover.px-20.white-border-white {
  border-right: 2px solid var(--white);
}

.body-text.is-white.font-light-italic {
  font-family: var(--montserrat-uploaded);
  font-weight: 200;
}

.body-text.is-white.font-light-italic.space-top-80px {
  font-family: var(--montserrat-uploaded);
}

.space-top-80px {
  margin-top: 80px;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.body-text.is-white.font-25 {
  font-size: 1.3rem;
  font-weight: 600;
}

.content-1 {
  display: none;
}

.body-text.content-1.display-block {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .body-text.content-1.display-block {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.body-text.content-2 {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .body-text.content-2 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .body-text.content-2 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(de) {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(fr) {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-2:lang(ja) {
    display: block;
  }
}

.content-2 {
  display: none;
}

.body-text.content-3 {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .body-text.content-3 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-3:lang(fr) {
    display: block;
  }
}

.content-3 {
  display: none;
}

.body-text.content-4 {
  display: none;
}

.body-text.content-4:lang(ja) {
  display: none;
}

.body-text.content-4:lang(fr) {
  display: none;
}

@media screen and (max-width: 767px) {
  .body-text.content-4 {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .body-text.content-4 {
    display: none;
  }
}

.content-4 {
  display: none;
}

.width-100 {
  width: 100%;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.body-text.content-5 {
  display: none;
}

.content-5 {
  display: none;
}

@media screen and (max-width: 767px) {
  .content-5 {
    display: flex;
  }
}

.space-top-24 {
  margin-top: 24px;
}

.body-text.content-5 {
  display: none;
}

.body-text.content-6 {
  display: none;
}

.body-text.content-7 {
  display: none;
}

.body-text.content-8 {
  display: none;
}

.body-text.content-9 {
  display: none;
}

.body-text.text-align-center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text-align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .body-text.mobile-text-align-center {
    text-align: center;
  }
}

.product-explanation-image {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .product-explanation-image {
    width: 50%;
  }
}

.image-121 {
  width: 500px;
}

.left-arrow-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .left-arrow-3 {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .left-arrow-3 {
    justify-content: flex-start;
    align-items: center;
  }
}

.left-arrow-3.hide-element {
  display: none;
}

@media screen and (min-width: 1920px) {
  .icon-6 {
    display: none;
  }
}

.left-arrow-3-copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .left-arrow-3-copy {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .left-arrow-3-copy {
    justify-content: flex-end;
    align-items: center;
  }
}

.left-arrow-3-copy.hide-element {
  display: none;
}

@media screen and (min-width: 1920px) {
  .icon-5 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slide-nav-3 {
    top: auto;
  }
}

@media screen and (max-width: 479px) {
  .slide-nav-3 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .slide-nav-3.hide-element {
    display: none;
  }
}

#w-node-_6b3324b9-d6bb-a33a-db38-95d78b70329c-8b70329b {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 767px) {
  #w-node-_6b3324b9-d6bb-a33a-db38-95d78b70329c-8b70329b {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}